Django>=1.7,<1.8
psycopg2==2.6.2
pytz
django-braces==1.9.0
django-model-utils==2.5
django-pipeline>1.4,<1.6
nodeenv==0.13.6
raven==5.23.0
django-forms-bootstrap==3.0.1
# Django rest framework support
djangorestframework==2.4.4
Markdown==2.6.6
django-filter==0.13.0
Pillow==3.3.0
django-geojson==2.9.0
django-leaflet==0.18.1 # django-sms-gateway  # Use this again once we can work with custom users
django-picklefield==0.3.2  # This is while we package our own sms
django-uuidfield-2==0.6.6  # This is while we package our own sms
django-jsonfield==1.0.0  # This is while we package our own sms
Celery>=3.1.0,<3.2.0
simplejson==3.8.2
xhtml2pdf==0.0.6
requests==2.10.0
googlemaps==2.4.4
openpyxl==2.3.5
html5lib==1.0b8
jdcal==1.2
PyPDF2==1.26.0
reportlab==3.3.0

