html, body {
    color: rgb(51, 51, 51);
}

text {
    color: rgb(51, 51, 51);
}

.wb-content {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.navbar, .navbar-default, .navbar-primary, .navbar-wb  {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #1f1e1d;
}


.navbar ul.nav a.nav-link-main {
    transition: background-color 0.3s ease-out,color 0.3s ease-out;
    outline: none;
}

a.nav-link-main {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    line-height: 60px;
    padding: 0 20px;
    border-top: 2px solid transparent;
}

.navbar ul.nav li >  a.nav-link-main:hover {
    background: #363534;
    border-top: 2px solid #a01217;
}

.navbar-wb ul.nav li {
    border-right: 1px solid #363534;
}

.navbar .navbar-collapse, .navbar .navbar-form {
    border-color: #363534; /* rgba(0, 0, 0, .1);*/
}

.samples {
    color: rgb(51, 51, 51);
    background: rgb(31, 30, 29);
    background: rgb(54, 53, 52); /*same*/
    background: #363534;/*same*/
    color: rgb(206, 23, 30);
    color: #0f5e9c;
    color: #2389da;
    color: #1ca3ec;
    color: #5abcd8;
    color: #74ccf4;
    color: rgb(15, 94, 156);
    color: rgb(35, 137, 218);
    color: rgb(28, 163, 236);
    color: rgb(90, 188, 216);
    color: rgb(116, 204, 244);
}

.btn-primary {
    color: #fff;
    background: #363534;
    /*background-color: #337ab7;*/
    border-color:  rgb(31, 30, 29);
}
/*
.btn, .hs-button {
    background: #f4f4f2;
    color: #8d8070;
    border: 1px solid #e7e7e3;
    text-transform: uppercase;
}

.btn {
    transition: background-color 0.3s ease-out;
    display: inline-block;
}
.btn:hover {
    background-color: #cbc6c0;
    color: #fff;
}
*/

