html, body {
    color: rgb(51, 51, 51);
}
.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}


.wb-content {
    padding-top: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.wb-actions-row {
    width: 100%;
    display: block;
    position: relative;
    padding: 0.1em 0 0.3em;
}


.wb-actions-row .wb-actions-title {
}

.wb-actions-row .wb-actions {
    padding: 0 5px;
}

.wb-actions-row .geo-search-wrap {
    position: relative;
    display: block;
    float: right;
    width: 100%;
    min-width: 150px;
    max-width: 350px;
}
/*

NAVIGATION

*/
.navbar, .navbar-default, .navbar-primary, .navbar-wb  {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #3c4c57;
}

/*
.navbar ul.nav a.nav-link-main {
    transition: background-color 0.3s ease-out,color 0.3s ease-out;
    outline: none;
}*/

a.nav-link-main {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    line-height: 60px;
    padding: 0 20px;
    border-top: 2px solid transparent;
}

.navbar ul.nav li  a.nav-link-main:focus,
.navbar ul.nav li  a.nav-link-main:hover {
    background: #363534;
    border-top: 2px solid #407fc0;
}

.navbar-wb ul.nav li {
    border-right: 1px solid #363534;
}

.navbar .navbar-collapse, .navbar .navbar-form {
    border-color: #363534; /* rgba(0, 0, 0, .1);*/
}


.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background: #363534;
    border-top: 2px solid #407fc0;
}

.navbar-header {
    background: #fefefe;
}
.navbar-header img {
    max-width: 100%;
    max-height: 52px;
}
.navbar-fixed-top {
    border-width: 0;
}

.samples {
    color: rgb(51, 51, 51);
    background: rgb(31, 30, 29);
    background: rgb(54, 53, 52); /*same*/
    background: #363534;/*same*/
    color: rgb(206, 23, 30);
    color: #0f5e9c;
    color: #2389da;
    color: #1ca3ec;
    color: #5abcd8;
    color: #74ccf4;
    color: rgb(15, 94, 156);
    color: rgb(35, 137, 218);
    color: rgb(28, 163, 236);
    color: rgb(90, 188, 216);
    color: rgb(116, 204, 244);
}


.extracted-logo-colors {
    color: #008ed4;
    color: rgb(0, 142, 212);

    color: #00acee;
    color: rgb(0, 172, 238);

    color: #407fc0;
    color: rgb(64, 127, 192);

    color: #0c9345;
    color: rgb(12, 147, 69);

    color: #8cc541;
    color: rgb(140, 197, 65);
}
.btn-primary {
    background: #716659; /*#b7a792; #f4f4f2;*/
    color: #fefefe; /*#62594e; rgb(141, 128, 112); #8d8070;*/
    border: 1px solid #716659; /*#b7a792;*/
}

.btn-primary {
    transition: background-color 0.3s ease-out;
    display: inline-block;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover {
    outline: none;
    color: #716659;
    background-color: #cbc6c0;
    border-color: #b7a792;
}


/* ACCORDION - TODO move everything here*/
.accordion-action-buttons {
    padding: 0.6em 0;
}











div.dataTables_wrapper table.dataTable thead .sorting_asc:after,
div.dataTables_wrapper table.dataTable thead .sorting_desc:after {
    color: #716659;
}



/*

PAGINATION - overwrite default bootpag

*/
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > li {
    display: inline;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #716659;
    border: 1px solid #ddd;
    background: #fefefe;
    margin-left: -1px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
        background-color: #716659;
    color: #fefefe;
    border: 1px solid #716659;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
    z-index: 2;
    background-color: #716659;
    color: #fefefe;
    border: 1px solid #716659;
    cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}
