/*
GENERAL
*/


text {
    color: #434343;
}


polyline {
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}


text.wb-chart-title {
    font-size: 0.7em;
    fill: #434343;
}

text.wb-chart-title.wb-pie {
    text-anchor: middle;
}


.wb-default-tooltip-text{
    padding: 2px;
    background: #ffffff;
}



/* HORIZONTAL BAR*/

/* TODO check opacity usage*/
/* rgba(21, 35, 240, 0.44);*/
svg.wb-horizontal-bar .bar {
   fill: rgb(161,196,247);
    /*fill: rgb(50, 128, 241);*/
   /* fill: #407fc0;*/
    filter: alpha(opacity=75);
    opacity: .75;
}

svg.wb-horizontal-bar .bar-text {
    fill: rgb(50, 61, 77);
}

/* active bar*/
svg.wb-horizontal-bar g.wb-bar-active rect.bar{
    fill: rgb(255, 127, 14);
}
svg.wb-horizontal-bar g.chart-group g{
    cursor: pointer;
}

/* Bar chart stripes - tick lines*/
svg.wb-horizontal-bar path,
svg.wb-horizontal-bar line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

svg.wb-horizontal-bar text.wb-barchart-label {
    font-size: 75%; /* 12 px */
    line-height: 1;
}


/* LINE CHART */
svg.wb-line-chart path.domain,
svg.wb-line-chart .axis .tick path,
svg.wb-line-chart .axis .tick line {
      fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
path.line {
  fill: none;
  stroke: #407fc0; /*#6F257F;*/
  stroke-width: 5px;
}

svg.wb-line-chart .wb-line-chart-overlay {
  fill: none;
  pointer-events: all;
}

svg.wb-line-chart .wb-line-focus {
    z-index: 1000;
}
svg.wb-line-chart .wb-line-focus rect{
    fill: #fefefe;
    stroke-width: 1;
    stroke: #407fc0;
}

svg.wb-line-chart .wb-line-focus tspan{
    fill: #716659;
}

svg.wb-line-chart .wb-line-axis-title {
    text-anchor: end;
    fill: #5D6971;
}

/* line chart on hover*/
svg.wb-line-chart .focus circle {
  fill: #F1F3F3;
  stroke: #716659; /*#6F257F;*/
  stroke-width: 5px;
}

svg.wb-line-chart .hover-line {
  stroke: #716659; /*#6F257F;*/
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

svg.wb-line-chart circle.wb-line-chart-dot {
    fill: #716659; /*#407fc0; salmon;*/
    stroke: #fefefe;
    stroke-width: 2;
    cursor: pointer;
}

/*

PIE CHART

*/
.wb-line-tooltip,
.wb-pie-tooltip,
.wb-horizontal-bar-tooltip {
  position: absolute;
  display: none;
  height: auto;
  background: #ffffff;
  border: 1px solid rgb(161,196,247);
  padding: 2px;
  text-align: center;
    z-index: 1000;
}


.wb-horizontal-bar-tooltip ul{
    padding: 1px;
}

.wb-horizontal-bar-tooltip  .tooltip-content span{
    display: block;
    text-align: left;
    font-size: 0.9em;
}

.wb-horizontal-bar-tooltip ul li{
    padding: 0;
    list-style-type: None;
    text-align: left;
}

/* PIE ACTIVE SLICE (PATH)*/
g.wb-slice-active  path{
    stroke: red;
    stroke-width: 2px;
    cursor: pointer;
}

.wb-default-tooltip,
.wb-pie-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;

  line-break: auto;
}

/* lines between pie slices */
.wb-pie-arc {
    stroke: #ffffff;
    stroke-width: 1px;
}
.wb-pie-arc text{
    stroke-width: 0;
}


.wb-pie-tooltip text{
    text-anchor: middle;
}

.wb-pie-tooltip rect{
    fill: #F1F3F3;
    opacity: .85;
}

.wb-pie-legend {
    position: absolute;
    height: 20px;
    bottom: 20px;
    right: 0 ;
}

div.wb-legend-item {
    display: inline;
    align-items: left;
    margin-right: 10px;
    white-space: nowrap;
}

div.wb-legend-item div.legend-symbol {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 2px;
}
div.wb-legend-item div.legend-label {
    display: inline-block;
    font-size: 10px;
    line-height: 12;
}

g.legend-group text{
    font-size: 9px;
}
