/*
GENERAL
*/

.wb-chart-title {
    font-size: 0.7em;
    color: #888;
    fill: #716659;
}

.wb-chart-title.wb-pie {
    text-anchor: middle;
    text-decoration: underline;
}

/*.attr("fill", "#5D6971")*/
.wb-barchart-label {
    font-size: 75%; /* 12 px */
    line-height: 1;
}

text {
    color: rgb(51, 51, 51);
}



polyline {
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}
/* TODO check opacity usage*/
svg.wb-horizontal-bar .bar {
    fill: rgb(161,196,247);
    filter: alpha(opacity=71.25);
    opacity: .7125;
}

svg.wb-horizontal-bar .bar-text {
    fill: rgb(50, 61, 77);
}

/* active bar*/
svg.wb-horizontal-bar g.wb-bar-active rect.bar{
    fill: rgb(255, 127, 14);
}
svg.wb-horizontal-bar g.bar_group rect.bar{
    cursor: pointer;
}

/* Bar chart stripes - tick lines*/
svg.wb-horizontal-bar path,
svg.wb-horizontal-bar line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}



.wb-default-tooltip-text{
    padding: 2px;
    background: #ffffff;
}



.axis {
	font: 10px sans-serif;
}

/* LINE CHART */

path.line {
  fill: none;
  stroke: #407fc0; /*#6F257F;*/
  stroke-width: 5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}
.wb-line-focus {
    z-index: 1000;
}
.wb-line-focus rect{
    fill: #fefefe;
    stroke-width: 1;
    stroke: #407fc0;
}

.wb-line-focus tspan{
    fill: #716659;
}



.wb-line-axis-title {
    text-anchor: end;
    fill: #5D6971;
}
/* line chart on hover*/
.focus circle {
  fill: #F1F3F3;
  stroke: #716659; /*#6F257F;*/
  stroke-width: 5px;
}

.hover-line {
  stroke: #716659; /*#6F257F;*/
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

        /*        .attr('fill', 'salmon')
                .attr('stroke', 'white')
                .attr('class', 'wb-line-chart-dot')*/
circle.wb-line-chart-dot {
    fill: #716659; /*#407fc0; salmon;*/
    stroke: #fefefe;
    stroke-width: 2;
    cursor: pointer;
}

/*

PIE CHART

*/
.wb-line-tooltip,
.wb-pie-tooltip,
.wb-horizontal-bar-tooltip {
  position: absolute;
  display: none;
  height: auto;
  background: #ffffff;
  border: 1px solid rgb(161,196,247);
  padding: 2px;
  text-align: center;
    z-index: 1000;
}


.wb-horizontal-bar-tooltip ul{
    padding: 1px;
}

.wb-horizontal-bar-tooltip  .tooltip-content span{
    display: block;
    text-align: left;
    font-size: 0.9em;
}

.wb-horizontal-bar-tooltip ul li{
    padding: 0;
    list-style-type: None;
    text-align: left;
}



.wb-default-tooltip,
.wb-pie-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;

  line-break: auto;
}

/* lines between pie slices */
.wb-pie-arc {
    stroke: #ffffff;
    stroke-width: 1px;
}
.wb-pie-arc text{
    stroke-width: 0;
}


.wb-pie-tooltip text{
    text-anchor: middle;
}
/*
.focus circle {
  fill: #F1F3F3;
  stroke: #716659;
  stroke-width: 5px;
}*/
.wb-pie-tooltip rect{
    fill: #F1F3F3;
    opacity: .85;
}

.wb-pie-legend {
    position: absolute;
}

div.wb-legend-row {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

div.wb-legend-row div.legend-symbol {
    height: 10px;
    width: 10px;
    margin: 5px;
}
div.wb-legend-row div.legend-label {
    font-size: 0.8em;
}
