/* TODO REPLACE WITH SCSS AT SOME POINT
 * Table styles
 */

.table-reports-wrap{
    width: 100%;
    max-width: 100%;
    padding: 20px 1em 0;
}



/* overlay*/
/*.modal.fade {
    background: rgba(0,0,0,0.5);
}*/



.navbar .navbar-brand {
    width: 100px;
}




