{% load pipeline %}

<!DOCTYPE html>
<html>
<head lang="en">
    {% stylesheet 'contrib' %}
    {% stylesheet 'event_mapper_css' %}
    {% javascript 'contrib' %}
    {% load bootstrap_tags %}

    {% block extra_js%}
    {% endblock %}

    <meta charset="UTF-8">

    {% block header %}
        <title>Waterboard</title>
    {% endblock %}
</head>
<body>

<div id="navigation_bar" class="wb-navigation-bar">
    {% block navigation-bar %}
        {% include "healthsites/navigation_bar.html" %}
    {% endblock %}
</div>
<div id="content" class="wb-content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
