{% load bootstrap_tags %}
<form id="feature-create-form" class="wb-accordion-form" action="" method="post" novalidate>
    {% csrf_token %}
    <div id="_hidden_fields">
      {{ form | as_bootstrap }}
    </div>
    <fieldset>
    <div id="data-accordion">
        {% for group in form.groups %}
          <div>
                {% if group.errors %}
                  {# TODO: implement a nicer way to notify users that there are errors in group form #}
                  <h3 class="accordion-header-error">{{ group.group_label }}</h3>
                {% else %}
                  <h3>{{ group.group_label }}</h3>
                {% endif %}

                <div data-group-name="{{ group.group_key }}">
                    {{ group | as_bootstrap }}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="accordion-action-buttons">
        <button type="button" id="create_button" class="btn btn-primary">Create</button>
    </div>
    </fieldset>
</form>
<div id="custom-tooltip" style="display: none">tip</div>
