{% load bootstrap_tags %}
<form id="add_even_form" class="" action="" method="post">
    {% csrf_token %}

    <div id="feature_hidden_data">
      {{ form | as_bootstrap }}
    </div>

    <div id="data-accordion">
        {% for group in form.groups %}
          <div>
                {% if group.errors %}
                  {# TODO: implement a nicer way to notify users that there are errors in group form #}
                  <h3 style="background-color: lightcoral">{{ group.group_label }}</h3>
                {% else %}
                  <h3>{{ group.group_label }}</h3>
                {% endif %}

                <div data-group-name="{{ group.group_key }}">
                    {{ group | as_bootstrap }}
                </div>
            </div>
        {% endfor %}
    </div>
    <input id="add_button" type="submit" class="btn btn-primary" value="Add" />
    <input id="update_button" type="submit" class="btn btn-primary" value="Update" />
</form>
<div id="custom-tooltip" style="display: none">tip</div>
