{% load bootstrap_tags %}
<form id="add_even_form" class="wb-accordion-form" action="" method="post">
    {% csrf_token %}
    <div id="_hidden_fields">
      {{ form | as_bootstrap }}
    </div>
    <fieldset>

    <div id="data-accordion">
        {% for group in form.groups %}
          <div>

                {% if group.errors %}
                  {# TODO: implement a nicer way to notify users that there are errors in group form #}
                  <h3  class="accordion-header-error">{{ group.group_label }}</h3>
                {% else %}
                  <h3>{{ group.group_label }}</h3>
                {% endif %}

                <div data-group-name="{{ group.group_key }}">
                    {{ group | as_bootstrap }}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="accordion-action-buttons">
      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group">
          <button type="button" id="update_button" class="btn btn-primary">Save</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" id="delete_button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
    </fieldset>
</form>
<div id="custom-tooltip" style="display: none">tip</div>
