[Unit]
Description=Waterboard uWSGI app

[Service]
EnvironmentFile=/srv/live/env_file
ExecStart=/usr/bin/uwsgi --ini uwsgi.ini
User=nobody
Group=nobody
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
# StandardError=syslog
NotifyAccess=all

WorkingDirectory=/srv/live/django_project

[Install]
WantedBy=multi-user.target
