$div-table-cell-background: #e6e6e6;
$div-table-header-background: #444444;
$div-table-header-color: $textColorLight;
$div-table-border-color: #c3c3c3;

$div-table-row-hover-background: rgba(0, 0, 0, 0.1);
$div-table-zebra-even-background: #fdfdfd;
$div-table-zebra-odd-background: #fbfbfb;
//#c3c3c3

$div-table-cell-min-width: 80px;
$div-table-cell-max-width: 120px;

$table-bg: transparent !default;

$header-cell-height: 60px;

$cell-height: 60px;

.wb-data-table {

    position: relative;
    width: 100%;
    height: 100%;
    background: $table-bg;

    padding: 0 1em;

    .wb-table-events-toolbar {
        position: relative;
        width: 100%;
        line-height: 35px;
        min-height: 35px;

        .toolbar-item {
            position: relative;
            display: inline-block;
        }

        .number-per-page {
            float: right;
        }
    }

    .wb-table-wrap {
        position: relative;
        min-height: 560px;
        height: 100%;
        max-height: 80vh; // better demo for sticky header
        overflow-y: auto;
        width: 100%;
        max-width: 100%;
        min-width: 200px;

    }
}


// DATA TABLE
.table_grid {
    display: block;
    position: relative;

    .table_body_wrap {
        padding-top: $header-cell-height;

        .table_body {
            min-height: 400px;
            height: 100%;
            max-height: calc(100% - 300px);
        }
    }
}


// header and body row
// must share some common properties - width, padding, border etc
.table_grid_row,
.table_grid_header_row {
    display: block;
    position: relative;
    white-space: nowrap;
    height: $cell-height;
    min-width: 50px;
    width: 100%;

}

.table_grid_header_cell,
.table_grid_body_cell {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    border-right: 1px solid $div-table-border-color;
    padding-left: 0.5em;
    padding-right: 0.5em;

    // ograniči na 3 linije
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 20px;
    white-space: initial;
}


/*

    HEADER ROW
<i class="fa fa-sort-asc" aria-hidden="true"></i>

 */
.table_grid_header_row {
    z-index: 10;
    height: $header-cell-height;

    .table_grid_header_cell {
        background: $div-table-header-background;
        color: $div-table-header-color;
        text-align: center;
        height: $header-cell-height;
        cursor: pointer;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            /* flex-direction: row; */
            height: 100%;

        }

    }
}

[data-sort-dir] {
    i {
        position: absolute;
        display: block;
        top: 5px;
        right: 5px;
        font-size: 1.5em;
    }
}

[data-sort-dir="1"] {
    i:before {
        content: "\f0de";
    }
}

[data-sort-dir="2"] {
    i:before {
        content: "\f0dd";
    }
}

/*

    BODY ROW

 */
.table_grid_row {
    .table_grid_body_cell {
        display: inline-block;
        background: $div-table-cell-background;
        height: $cell-height;
    }

    .table_grid_body_cell:last-child {
        border-right: none;
    }

    // cells on row hover
    &:hover > div.table_grid_body_cell {
        background: $div-table-row-hover-background !important;
        cursor: pointer;
    }

    &:nth-of-type(even) .table_grid_body_cell {
        background: $div-table-zebra-even-background;
    }

    &:nth-of-type(odd) .table_grid_body_cell {
        background: $div-table-zebra-odd-background;
    }


}

/*

FILTERS PAGINATION TOOLBAR

*/

.table-report-filter-wrap {

    .form-group {
        min-width: 150px;
        max-width: 250px;
        width: 100%;
        display: inline-block;
        vertical-align: text-top;
    }


}

.number-per-page {
    max-width: 165px;
    display: inline-block;
    position: relative;

    label {
        display: inline-block;
        position: relative;
    }

    select {
        width: 70px;
        display: inline-block;
    }

    & > div {
        display: inline-block;
        position: relative;
    }
}


.wb-pagination-block ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: inline-block;
    position: relative;
    max-width: 250px;

    li {
        position: relative;
        display: inline-block;
        padding: 0;
        margin: 0;
        //width: 21px;
        height: 21px;

        .page-link {
            color: $textColorNormal;
            position: relative;
            display: block;
            padding: 1px 5px;
            line-height: 1.25;
            background-color: #fff;
            border: 1px solid #dee2e6;
        }
    }

    li.current-active {
        font-weight: bold;

        .page-link {
            background: $darker;
            border: 0;
            border-top: 2px solid $red;
            color: $textColorLight;
        }
    }
}

#wb-table-Events {
    .wb-pagination-block ul {
        li {
            width: 30px;
            text-align: center;
            height: 25px;
        }
    }
}
.page-numbers-wrap {

}

// changeset hostory mopdal in feature by uuid -TODO move

.changeset-group-block {
    width: 340px;
    position: relative;
    display: inline-block;
    vertical-align: text-top;
    margin-bottom: 0.5em;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            .group-attr {
                min-height:20px;
                width: 200px;
                display: inline-block;
            }

            .group-val {
                min-height:20px;
                width: 120px;
                display: inline-block;
            }
        }

        li:hover{
            .group-attr {
                background-color: rgba(0,0,0,0.1);
            }
            .group-val {
                background-color: rgba(0,0,0,0.1);
            }
        }
    }
}
