// $red: 'red';
$pageBackground: #f7f6f6;

$inputBackground: #f7f6f6;

$light: #fefefe;

$dark: #434343;
$darker: #363534;

$textColorNormal: rgb(51, 51, 51); // 333333
$textColorLight: $light;

$textDisabledColor: #777;


$red: rgb(206, 23, 30); // CE171E

$error-red: #A72B1F;




$chart-line-path-stroke: #D4D8DA;


$wb-blue: #407fc0;
$line-chart-line-stroke: #407fc0;

$line-chart-focus-hover-stroke: #716659;


// TABLE

//$table-header-cell-bg
