@import "wb_constants";
@import "mixins";
@import "core";

/*over writes - update


    display: flex;
    flex-wrap: wrap;

*/

.form-group {
    margin-bottom: 15px;
    flex: 0 50%;
    padding: 5px;
}

.sample {

}
