@import "wb_constants";

.wb-chart-block {
    padding-bottom: 10px;
}

.wb-chart-block-wrap {
    width: 33%;
    min-width: 125px;
    vertical-align: top;
    display: inline-block;
}

@media only screen and (max-width: 428px) {
    .wb-chart-block-wrap {
        width: 50%;
    }
}

.wb-chart-block .wb-chart-wrap {
    position: relative;
    display: block;
    min-width: 100px;
    width: 100%;
    z-index: 100;
}

.wb-map-wrap {
    position: relative;
    display: block;
    min-width: 260px;
    // height: 700px;
    height: 79vh;
    width: 100%;
    z-index: 100;
}

.dashboard-actions,
.geo-search-wrap {
    margin-top: 1em;
}

.dashboard-actions {
    width: 100%;
    display: block;
    position: relative;
    height: 34px;

    button {
        position: absolute;
        bottom: 2px;
        right: 2px;
    }
}


/*

    INFO CHARTS - BENEFICIARIES / SCHEME TYPE
wb-info-chart  wb-beneficiaries-chart
*/
.wb-info-row {
    width: 100%;
    position: relative;
    display: table;

    .beneficiaries-chart-wrap {
        display: table-cell;
        width: 300px;
        vertical-align: middle;
    }

    .scheme-type-chart-wrap {
        display: table-cell;
        width: calc(100% - 570px);
        vertical-align: middle;
    }

    .coverage-calculator-wrap {
       /* display: table-cell;
        width: 250px;
        vertical-align: middle;*/
    }

}

.coverage-calculator-wrap {
    width: 220px;
    .form-group {
        width: 100%;
        display: block;

        label {
            width: 60px;
        }

        > input {
            width: 146px;
        }
        > div {

            width: 160px;
            display: inline;
        }
    }
}


@media only screen and (max-width: 576px) {
    .wb-info-row {
        .beneficiaries-chart-wrap, .scheme-type-chart-wrap/*, .coverage-calculator-wrap*/ {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 1280px) {
    .wb-info-row {
        .beneficiaries-chart-wrap {
            width: 25%;
        }

        .scheme-type-chart-wrap {
            width: 50%;
        }

    }
}

.wb-info-chart {
    display: block;
    position: relative;
    text-align: center;

    .info-row {
        position: relative;
        display: inline-block;
        white-space: nowrap;

        /* beneficiaries chart label styling */
        .info-row-label {
            text-align: center;
            padding: 4px 0 5px;
        }

        /* stat numbers wrap - beneficiaries and count*/
        .info-statistics {
            text-align: center;
            position: relative;
            width: 100%;

            .main-nmbr, .other-nmbr {
                position: relative;
                display: inline-block;
                vertical-align: top;
                min-width: 50px;

                font-size: 16px;
                line-height: 18px;
            }

            .main-nmbr {
                display: block;
                font-weight: bold;
                font-size: 18px;
                text-align: center;
                line-height: 22px;
                color: $red;

            }

        }


    }
}

/* BENEFICIARIES */
.wb-beneficiaries-chart {
    margin: 0 auto;
    width: 300px;

    .info-row {
        width: 50%;
        max-width: 270px;
    }

    .info-statistics {
        .other-nmbr {
            font-size: 12px;
            line-height: 13px;
        }

        .main-nmbr {
            font-size: 24px;
            line-height: 24px;
        }
    }
}

@media only screen and (max-width: 920px) {
    .wb-info-row {
        .beneficiaries-chart-wrap {
            width: 150px;

            .wb-beneficiaries-chart {
                width: 150px;

                .info-row {
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                }
            }
        }

        .scheme-type-chart-wrap {
            width: calc(100% - 160px);
        }


    }
}

/* SCHEME TYPE */
.wb-schemetype-chart {
    .info-row {
        min-width: 80px;
        max-width: 200px;
    }

    .info-statistics .other-nmbr {
        font-size: 16px;
        line-height: 18px;
    }
}


/* END SCHEME_TYPE END*/

.wb-div-icon-marker {
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    background: $red;
    z-index: 1000;
}

/*

    Pagination block / button used for horizontal chart pagination

*/

.wb-pagination-block {
    display: block;
    width: 100%;
    padding: 0.2em 0.5em;

    .page-nmbr {
        display: inline-block;
        position: relative;
        min-width: 24px;
        color: $dark;
    }

    .btn-chart-pag {
        background: none; /*$light;*/
        color: $dark;
        opacity: 0.7;
        margin-right: 2px;
        outline: none;

        & :focus,
        & .btn-chart-pag:active,
        & .btn-chart-pag:hover {
            outline: none;
            opacity: 1;
            background: $inputBackground;
        }
    }
}




/*Style with css*/
.map-marker {
    text-align: center;
    position: absolute;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    width: 32px;
    height: 32px;
    line-height: 32PX;
    font-size: 30px;
    font-family: 'FontAwesome';
}

/*TODO replacecolors*/
#featureMapWrap .map-marker.yes {
    color: #00a7b7;
}

#featureMapWrap .map-marker.no {
    color: $red;
}

#featureMapWrap .map-marker.unknown {
    color: #6d6d6d;
}

/* Style background*/
/*.map-marker.marker-color-gray {background: lightgray;}*/
.marker-icon {
    width: 48px;
    height: 46px;
    background: url("/static/css/images/wb-cluster-marker.png");
    line-height: 46px;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    background-size: 48px auto;
}


/*

 HORIZONTAL BAR CHART CLEAR BUTTON - svg group

 */
.wb-horizontal-bar g.clear-btn-group {
    rect {
        fill: $dark;
    }

    text {
        font-size: 12px;
        fill: $light;
        text-anchor: middle;
    }

    &:hover {
        cursor: pointer;
    }

    &:hover rect {
        fill: $horizontalBarHoverFill;
    }

    &:hover text {
        fill: $red; /*$light;*/
    }

}


/* SEPARATE LATER - NEW FORM */
.wb-form-wrap form {
    padding-top: 20px;

    .wb-form-has-error {
        .selectize-input,
        input {
            border-color: $error-red;
        }

        span {
            color: $error-red;
        }
    }
}


.form-nav li.wb-active-form-tab > a {
    background: $dark; /*#b7a792; #f4f4f2;*/
    color: $light; /*#62594e; rgb(141, 128, 112); #8d8070;*/
    border: 1px solid $dark; /*#b7a792;*/
    border-bottom: 2px solid $red;
    border-radius: 0; /*/4px 4px 0 0; */
}

// .form-nav li.wb-active-form-tab.wb-group-has-error:after
.form-nav li.wb-group-has-error:after {
    content: '*';
    color: $error-red;
    position: absolute;
    top: -5px;
    right: 1px;
    font-size: 2em;
}
