.wb-chart-block {
    padding-bottom: 10px;
}
.wb-chart-block .wb-chart-wrap {
    position: relative;
    display: block;
    min-width: 100px;
    width: 100%;
   z-index: 100;
}

.wb-map-wrap {
    position: relative;
    display: block;
    min-width: 260px;
    height: 700px;
    width: 100%;
    z-index: 100;
}
.dashboard-actions {
    width: 100%;
    display: block;
    position: relative;
    height: 76px;
}


.dashboard-actions button{
    position: absolute;
    bottom: 2px;
    right: 2px;
}

/*

    INFO CHARTS - BENEFICIARIES / SCHEME TYPE

*/

.wb-info-chart {
    display: block;
    position: relative;
    text-align: center;
}
.wb-info-chart .info-row {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

/* beneficiaries chart label styling */
.wb-info-chart .info-row .info-row-label {
    text-align: center;
    padding: 4px 0 5px;
}

/* stat numbers wrap - beneficiaries and count*/
.wb-info-chart .info-row .info-statistics {
    text-align: center;
    position: relative;
    width: 100%;
}


.wb-info-chart .info-statistics .main-nmbr,
.wb-info-chart .info-statistics .other-nmbr {
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-width: 50px;

    font-size: 16px;
    line-height: 18px;
}

.wb-info-chart .info-statistics .main-nmbr {
    display: block;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    color: rgb(206, 23, 30);

}

/* BENEFICIARIES */
.wb-beneficiaries-chart .info-row {
    width: 50%;
    max-width: 270px;
}


.wb-beneficiaries-chart .info-statistics .other-nmbr {
    font-size: 12px;
    line-height: 13px;
}

/* main sum number*/
.wb-beneficiaries-chart .info-statistics .main-nmbr {
    font-size: 24px;
    line-height: 24px;
}


/* SCHEME TYPE */
.wb-schemetype-chart .info-row {
    width: 100px;
    max-width: 200px;
}
.wb-schemetype-chart .info-statistics .other-nmbr {
    font-size: 16px;
    line-height: 18px;
}


/* END BENEFICIARIES END*/



.geo-search-wrap {
    margin-top: 1em;
}
/*
    SCHEME_TYPE CHART START
*/


/* END SCHEME_TYPE END*/

.wb-div-icon-marker {
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    background: rgb(206, 23, 30);
    z-index: 1000;
}

/*

    Pagination block / button used for horizontal chart pagination

*/

.wb-pagination-block {
    display: block;
    width: 100%;
    padding: 0.2em 0.5em;
}
.wb-pagination-block .page-nmbr {
    display: inline-block;
    position: relative;
    min-width: 24px;
    color: #434343;
}

.wb-pagination-block .btn-chart-pag {
    background: none; /*#fefefe;*/
    color: #434343;
    opacity: 0.7;
    margin-right:2px;
}

.wb-pagination-block .btn-chart-pag:focus,
.wb-pagination-block .btn-chart-pag:active,
.wb-pagination-block .btn-chart-pag:hover {
    outline: none;
    opacity: 1;
    background: #f7f6f6;
}


/*Style with css*/
.map-marker{
  text-align: center;
  position: absolute;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  width: 32px;
  height: 32px;
  line-height: 32PX;
  font-size: 30px;
  font-family: 'FontAwesome';
}

/*TODO replacecolors*/
#featureMapWrap .map-marker.yes {
    color: #00a7b7;
}
#featureMapWrap .map-marker.no {
    color: rgb(206, 23, 30);
}

#featureMapWrap .map-marker.unknown {
    color: #6d6d6d;
}
/* Style background*/
/*.map-marker.marker-color-gray {background: lightgray;}*/
.marker-icon {
    width: 48px;
    height: 46px;
    background: url("/static/css/images/wb-cluster-marker.png");
    line-height: 46px;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    background-size: 48px auto;
}


/*

 HORIZONTAL BAR CHART CLEAR BUTTON - svg group

 */
.wb-horizontal-bar g.clear-btn-group rect {
    fill: #434343;
}

.wb-horizontal-bar g.clear-btn-group text {
    font-size: 12px;
    fill: #fefefe;
    text-anchor: middle;
}

.wb-horizontal-bar g.clear-btn-group:hover {
    cursor: pointer;
}

.wb-horizontal-bar g.clear-btn-group:hover rect{
   fill: #f7f6f6;
}

.wb-horizontal-bar g.clear-btn-group:hover text{
   fill:  rgb(206, 23, 30); /*#fefefe;*/
}


/* SEPARATE LATER - NEW FORM*/
.wb-form-wrap form{
    padding-top: 20px;
}
.wb-active-form-tab {
    font-weight: bold;
}


.nav-tabs > li > a {
    color: #434343;
}

button.wb-btn-submit,
    a.wb-btn-submit {
}

.wb-btn-delete {

}

.form-nav li.wb-active-form-tab > a {
        background: #434343; /*#b7a792; #f4f4f2;*/
    color: #fefefe; /*#62594e; rgb(141, 128, 112); #8d8070;*/
    border: 1px solid #434343; /*#b7a792;*/
    border-bottom:  2px solid rgb(206, 23, 30);
    /* margin-right: 2px; */
    /* line-height: 1.42857143; */
    /* border: 1px solid transparent; */
   border-radius: 0;/*/4px 4px 0 0; */
}
