{% extends "healthsites/base.html" %}
{% load pipeline %}

{% block header %}
    {% javascript 'table_data_report' %}
{% endblock %}


{% block content %}
    <div id='healthsites-reports-wrap'>
        <table id="example" class="display" width="100%"></table>
    </div>

    {# TODO add to contrib later#}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src='https://code.jquery.com/jquery-2.2.4.js'></script>
    <script type="text/javascript" src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js'></script>

{% endblock content %}

{% block extra_js %}

    <script>
        $(document).ready(function() {

            WB.globals.reportTableData = JSON.parse("{{ data | escapejs }}");

            const columnDef = [
                    { data: "id", title: "Id" },
                    { data: "name", title: "Name" },
                    { data: "geometry", title: "Geometry" },
                    { data: "country", title: "Country"  },
                    { data: "overall_assessment", title: "Overall"  },
                    { data: "enriched", title: "Enriched"  },
                    { data: "created_date", title: "Created"  },
                   // { data: "assessment" }

                    { data: "data_captor", title: "Captor" },
                ];

            WB.tableReports.init('#example', WB.globals.reportTableData, columnDef);

        });
    </script>

{% endblock %}

