{% extends "event_mapper/base.html" %}
{% block extra_js %}
    <script type="text/javascript" src="/static/js/healthsites_view.js"></script>
{% endblock %}
{% block header %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
        $(document).ready(function () {
            var context = {
                'bounds': [
                    [{{ user.south }}, {{ user.west }}],
                    [{{ user.north }}, {{ user.east }}]]
            };
            show_map(context);

            // Initialise the FeatureGroup to store editable layers
            var drawnItems = new L.FeatureGroup();
            map.addLayer(drawnItems);

            // Initialise the draw control and pass it the FeatureGroup of editable layers
            var drawControl = new L.Control.Draw({
                edit: false,
                draw: {
                    polyline: false,
                    polygon: false,
                    rectangle: false,
                    circle: false
                },
                position: 'topright',
            });
            map.addControl(drawControl);
            set_offset();
            $('#nav_healthsite').addClass("active");
            $('#id_date_time').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                todayBtn: true,
                todayHighlight: true,
                autoclose: true,
                minuteStep: 1
            });

            $("#data-accordion").accordion();

            {# Click, and generate latlang and place name#}
            map.on('draw:created', function (e) {
                var type = e.layerType, layer = e.layer;
                if (type === 'marker') {
                    add_marker_from_draw(layer);
                }
            });

            $('#id_latitude').prop('disabled', true);
            $('#id_longitude').prop('disabled', true);

            map.on('moveend', function (e) {
                get_healthsites_markers();
            });
            map.on('click', function (e) {
                map_clicked();
            });
            get_healthsites_markers();
        });
        function show_detail(data) {
            $('.alert').remove();
            // change button state
            $("#add_button").removeClass('button-disabled');
            $("#add_button").prop('disabled', false);
            $("#update_button").removeClass('button-disabled');
            $("#update_button").prop('disabled', false);
            // autofill form
            $("input[name='name']").val(data['name']);
            set_long_lat_form(data['latlng']);
            remove_new_marker();
            if (!$('#side_panel').is(":visible")) {
                toggle_side_panel();
            }
        }

        function show_dashboard() {
            $('.alert').remove();
            if (!new_event_marker) {
                reset_form();
                $("#add_button").addClass('button-disabled');
                $("#add_button").prop('disabled', true);
                $("#update_button").addClass('button-disabled');
                $("#update_button").prop('disabled', true)
            }
        }
    </script>
{% endblock header %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {# side panel #}
            <div class="col-lg-5" id="side_panel">
                <div class="bs-component">
                    <div class="panel panel-primary">
                        <div id="messages_wrapper"></div>
                        <div class="panel-heading panel-heading-without-padding">
                            <h4>
                                <a id="hide_toogle"
                                   href="javascript:void(0)"
                                   class="btn btn-fab btn-raised glyphicon glyphicon-chevron-left toogle-button"
                                   onclick="toggle_side_panel()"></a>
                                <i class="mdi-content-add-box"></i>
                                Add Healthsite Assessment
                            </h4>
                        </div>
                        <div class="panel-body">
                            {% include "add_assessment_form.html" %}
                        </div>
                    </div>
                </div>
            </div>
            {# end side panel #}
            {# map #}
            <div class="col-lg-7" style="margin:0; padding:0;">
                {% include "event_mapper/map.html" %}
            </div>
            {# end side panel #}
        </div>
        {# show hide toggle #}
        <a id="show_toogle"
           style="display:none;"
           href="javascript:void(0)"
           class="btn btn-fab btn-raised glyphicon glyphicon-chevron-right toogle-button"
           onclick="toggle_side_panel()"></a>

    </div>
{% endblock content %}
