{% extends "event_mapper/base.html" %}
{% block extra_js %}
    <script type="text/javascript" src="/static/js/healthsites_view.js"></script>
{% endblock %}
{% block header %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
        $(document).ready(function () {
            {# ----------------------------------------------------- #}
            {# control of authentication #}
            {
                var context = {
                    'bounds': [
                        [{{ user.south }}, {{ user.west }}],
                        [{{ user.north }}, {{ user.east }}]]
                };
                show_map(context);
            }

            // Initialise the FeatureGroup to store editable layers
            var drawnItems = new L.FeatureGroup();
            map.addLayer(drawnItems);

            {# ----------------------------------------------------- #}
            {# control of map #}
            {
                if (!healthsites_group) {
                    healthsites_group = L.layerGroup([]);
                    healthsites_group.addTo(map);
                }
                if (!assessments_group) {
                    assessments_group = L.layerGroup([]);
                    assessments_group.addTo(map);
                }
                if (!enriched_group) {
                    enriched_group = L.layerGroup([]);
                    enriched_group.addTo(map);
                }
                var overlayMaps = {
                    "Healthsites": healthsites_group,
                    "Assessments": assessments_group,
                    "Enriched Healthsites": enriched_group
                };
                L.control.layers({}, overlayMaps).addTo(map);
                markers_control = new L.Control.Command().addTo(map);
            }

            {# ----------------------------------------------------- #}
            set_offset();
            get_healthsites_markers();
            get_event_markers();
            $('#nav_healthsite').addClass("active");
            $('#id_date_time').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                todayBtn: true,
                todayHighlight: true,
                autoclose: true,
                minuteStep: 1
            });

            $("#data-accordion").accordion({
                heightStyle: "content"
            });
            $('#id_latitude').prop('disabled', true);
            $('#id_longitude').prop('disabled', true);
            $('#id_assessment_id').prop('disabled', true);
            $('#id_healthsite_id').prop('disabled', true);

            $('#id_latest_data_captor').prop('disabled', true);
            $('#id_latest_update').prop('disabled', true);

            $('#div_id_assessment_id').hide();
            $('#div_id_healthsite_id').hide();

            map.on('moveend', function (e) {
                get_healthsites_markers();
                get_event_markers();
            });
            map.on('click', function (e) {
                {#                map_clicked();#}
            });
        });
        function show_detail(marker) {
            var data = marker.data;
            $('.alert').remove();
            // change button state
            $("#update_button").hide();
            $("#add_button").show();
            {# update #}
            var logged_user = "{{ user.email }}";
            if (logged_user == data.data_captor) {
                $("#update_button").show();
            }
            autofill_form(data);
            set_long_lat_form(data['latlng']);
            remove_new_marker();
            add_new_event_marker(data['latlng']['lat'], data['latlng']['lng'], marker.options.icon);
            if (!$('#side_panel').is(":visible")) {
                toggle_side_panel();
            }
            map.removeLayer(selected_marker);
        }

        function show_dashboard() {
            $('.alert').remove();
            if (!new_event_marker) {
                reset_form();
                $("#add_button").hide();
                $("#update_button").hide();
            }
        }
    </script>
{% endblock header %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {# side panel #}
            <div class="col-lg-5" id="side_panel">
                <div class="bs-component">
                    <div class="panel panel-primary">
                        <div id="messages_wrapper"></div>
                        <div class="panel-heading panel-heading-without-padding">
                            <h4>
                                <a id="hide_toogle"
                                   href="javascript:void(0)"
                                   class="btn btn-fab btn-raised glyphicon glyphicon-chevron-left toogle-button"
                                   onclick="toggle_side_panel()"></a>
                                <i class="mdi-content-add-box"></i>
                                Add Water Feature Assessment
                            </h4>
                        </div>
                        <div class="panel-body">
                            {% include "add_assessment_form.html" %}
                        </div>
                    </div>
                </div>
            </div>
            {# end side panel #}
            {# map #}
            <div class="col-lg-7" style="margin:0; padding:0;">
                {% include "event_mapper/map.html" %}
            </div>
            {# end side panel #}
        </div>
        {# show hide toggle #}
        <a id="show_toogle"
           style="display:none;"
           href="javascript:void(0)"
           class="btn btn-fab btn-raised glyphicon glyphicon-chevron-right toogle-button"
           onclick="toggle_side_panel()"></a>

    </div>
{% endblock content %}
