<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>


  {% for item in file_state_list %}
    {% if item.1 == 'u' %}
      File uploaded and analysed on {{ item.0 }}
      <br><br>
      {% if item.2|length > 0 %}

        {% if item.2|length == 1 %}
          During analysis of uploaded file following error was found:<br>
        {% else %}
          During analysis of uploaded file following errors were found:<br>
        {% endif %}
        {{ item.2|safe }}<br><br>

        {% if file_state_list|length == 1 %}
          {% if item.3.0 > 0 or item.3.1 > 0 %}
            Data from uploaded file have not been inserted in database.<br>

             {% if item.3.0 == 1 %}
               <b>One</b> row can be inserted.<br>
             {% elif item.3.0 > 1 %}
               <b>{{ item.3.0 }}</b> rows can be inserted.<br>
             {% endif %}

             {% if item.3.1 == 1 %}
               <b>One</b> row can be updated.<br>
             {% elif item.3.1 > 1 %}
               <b>{{ item.3.1 }}</b> rows can be updated.<br>
             {% endif %}

              {% if  item.3.0 > 0 and item.3.1 == 0 %}
                <a href="/insert_data/{{ item.4 }}" class="btn btn-primary">Insert</a>
              {% elif item.3.0 == 0 and item.3.1 > 0 %}
                <a href="/insert_data/{{ item.4 }}" class="btn btn-primary">Update</a>
              {% elif item.3.0 > 0 and item.3.1 > 0 %}
                <a href="/insert_data/{{ item.4 }}" class="btn btn-primary">Insert and update</a>
              {% endif %}
          {% else %}
            There aren't rows for insert or update in this file.
          {% endif %}
        {% endif %}
      {% else %}
        No errors were found during analysis of uploaded file.
        {% if item.3.0 == 0 or item.3.1 == 0 %}
          <br><br>There aren't rows for insert or update in this file.
        {% endif %}
      {% endif %}
    {% elif item.1 == 'i' %}
      Data from uploaded file were inserted in database on {{ item.0 }}
    {% endif %}
    <br>
  {% endfor %}
</body>
</html>
