.normal_case {
    text-transform: none;
}

.btn.btn-fab, .btn.btn-fab .ripple-wrapper {
    font-size: 20px;
}

.btn.btn-fab, .btn.btn-fab:hover {
    box-shadow: none !important;
}

/* -------------------------- */
/* NAVBAR */
/* -------------------------- */
.navbar .navbar-brand {
    position: relative;
    height: 60px;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: auto 55px;
    display: block;
}

/* -------------------------- */
/* New */
.pad0 {
    padding: 0;
}

.panel-body {
    padding: 0;
}

.panel-body .section {
    padding: 20px;
}

.panel-body .section.grey {
    background: #f7f7f7;
}

.panel-body .section h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #292929;
}

#visualization {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 20px 0;
}

.vis-item {
    border: 1px solid #646464;
    background-color: #646464;
    font-size: 13px;
    color: #fff;
    border-radius: 5px !important;
}

.vis-item.vis-selected {
    border-color: #d01d23;
    background-color: #f44336;
}

.panel-heading {
    background-color: #f2f2f2 !important;
    border-color: transparent !important;
    padding-left: 65px;
    text-transform: uppercase;
    color: #575757 !important;
}

#event_dashboard .panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#side_panel {
    padding-right: 0px;
    padding-left: 0px;
}

.vis-time-axis .vis-grid.vis-minor {
    border-color: transparent !important;
}

.marker-icon {
    width: 48px;
    height: 46px;
    background: url("/static/images/healthsite-cluster-marker.png");
    line-height: 46px;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    background-size: 48px auto;
}

.button-disabled {
    background-color: dimgray;
    cursor: default;
}