.normal_case {
    text-transform: none;
}

.btn.btn-fab, .btn.btn-fab .ripple-wrapper {
    font-size: 20px;
    color: #575757 !important;
}

.btn.btn-fab, .btn.btn-fab:hover {
    box-shadow: none !important;
}

.pad0 {
    padding: 0;
}

/* -------------------------- */
/* NAVBAR */
/* -------------------------- */
.navbar .navbar-brand {
    position: relative;
    height: 60px;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: auto 55px;
    display: block;
}

/* -------------------------- */
/* DASHBOARD */
/* -------------------------- */

.panel-body {
    padding: 0;
}

.panel-body .section {
    padding: 20px;
}

.panel-body .section.grey {
    background: #f7f7f7;
}

.panel-body .section h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #292929;
}

.graph-boxes {
   overflow: hidden;
}

.graph-box {
    background: #fff;
    width: 50%;
    float: left;
    box-sizing: border-box;
    border: 1px solid #ececeb;
    color: #575757;
}

.graph-box h3 {
    font-size: 14px;
    background: #fbfbfb;
    padding: 10px 20px;
    margin-top: 0;
    border-bottom: 1px solid #ececeb;
}

.graph-box > div {
    padding: 10px 20px;
}

.graph-box .half {
    display: inline-block;
}

.graph-box .half .number {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
}

.graph-box .half .label {
    font-size: 14px;
    font-weight: 500;
    background: none;
    color: #575757;
    padding: 0;
}
#alert-box {
    min-height: 216px;
}
.search-box {
    background: #fff;
    border: 1px solid #ececeb;
    color: #575757;
    padding: 10px 20px;
    clear: both;
}

.search-box input[type='search'] {
    min-width: 300px;
    box-shadow: none;
    border: none;
    background: #efefef;
    margin-right: 5px;
}
.search-box input[type='submit'] {
    box-shadow: none;
    border: none;
    background: #575757;
    color: #fff;
}
.search-box input[type='submit']:hover {
    opacity: 0.8;
}
.search-box input {
   padding: 5px 10px;
   box-sizing: content-box;
   border-radius: 4px;
}


#visualization {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 20px 0;
}

.vis-item {
    border: 1px solid #646464;
    background-color: #646464;
    font-size: 13px;
    color: #fff;
    border-radius: 5px !important;
}

.vis-item.vis-selected {
    border-color: #d01d23;
    background-color: #f44336;
}

.panel-heading {
    background-color: #f2f2f2 !important;
    border-color: transparent !important;
    padding-left: 65px;
    text-transform: uppercase;
    color: #575757 !important;
}
#event_dashboard .panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
#side_panel {
    padding-right: 0px;
    padding-left: 0px;
}
.vis-time-axis .vis-grid.vis-minor {
    border-color: transparent !important;
}

.marker-icon {
    width: 48px;
    height: 46px;
    background: url("/static/images/healthsite-cluster-marker.png");
    line-height: 46px;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    background-size: 48px auto;
}

.button-disabled {
    background-color: dimgray;
    cursor: default;
}

.switch-layers {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 50;
}

.chart-section {
    width: 320px;
    height: 150px;
}
/* -------------------- */
/* ADD ASSESSMENT */
/* -------------------- */
#add_even_form {
   padding: 20px;
} 
#data-accordion .ui-state-default {
   color: #575757;
   border: 1px solid #ddd;
   background: #f9f9f9;
}
#data-accordion .ui-state-active {
   color: #A72B1F;
   background: none;
}
#data-accordion .ui-state-default:focus {
   outline: none;
}
#data-accordion .ui-widget-content {
   background: #fff;
}
/* -------------------- */
/* USER PROFILE */
/* -------------------- */
.panel-body.user-profile {
   padding: 20px;
}
/* -------------------- */
/* EVENT DETAIL */
/* -------------------- */
.panel-body.event-detail {
   padding: 20px;
}
.event-detail table {
   border-right: 1px solid #ddd;
   border-left: 1px solid #ddd;
}

