{% load pipeline %}

<!DOCTYPE html>
<html>
<head lang="en">

  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

{% stylesheet 'contrib' %}
{#    {% stylesheet 'event_mapper_css' %}#}
    {% javascript 'contrib' %}
    {% stylesheet 'table_data_report_css' %}
    {% javascript 'table_data_report' %}
    {% load bootstrap_tags %}

    {% block extra_js%}
    {% endblock %}

    <meta charset="UTF-8">
    <title>Changeset Report</title>

  {% block header %}
  {% endblock %}
</head>
<body>

    {% block navigation-bar %}
        {% include "navigation_bar.html" %}
    {% endblock %}

  <div id="content" class="wb-content">
      {% block content %}
      {% endblock %}
  </div>

    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}

</body>
</html>
