{% extends "changesets/changeset_explore_base.html" %}
{% load pipeline %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      {# side panel #}
      <div class="col-lg-5" id="side_panel">
        <div class="bs-component">
          <div class="panel panel-primary">
            <div class="panel-heading panel-heading-title">
              CHANGESET EXPLORER
            </div>
            <div class="panel-body user-profile">
              <table class="display dataTable no-footer" width="100%">
                <tr id="heading_row">
                  <th class="col-md-2">Changeset</th>
                  <th class="col-md-6">Changed at</th>
                  <th class="col-md-4">Changed by</th>
                  <th class="col-md-2">Type</th>
                </tr>
                <!-- http://www.hyperlinkcode.com/button-links.php -->
                {% for changeset in changesets_list %}
                  <tr class="regular" onclick="window.location.href='changeset_report/{{ changeset.changeset_id }}'">
                    <td>{{ changeset.changeset_id }}</td>
                    <td>{{ changeset.ts_created }}</td>
                    <td>{{ changeset.email }}</td>
                    <td>{{ changeset.changeset_type }}</td>
                  </tr>
                {% empty %}
                  <tr id="no_changesets">
                    <td colspan="3"
                        style="text-align:center; color:rgba(0,0,0,0.65); padding:20px; background-color: transparent;">
                      <b>No changesets</b></td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>

        </div>
      </div>
      {# end side panel #}
    </div>
  </div>

{% endblock %}

{% block extra_style %}
  <style>

    .col-lg-5 {
      width: 40%;
    }

    /* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
    @media only screen and (max-width: 980px) {
      .col-lg-5 {
        width: 100%;
      }
    }

    tr#heading_row {
      background-color: transparent;
      border-bottom: 1px solid rgb(51, 51, 51);
    }

    th {
      color: rgba(0, 0, 0, 0.65);
      text-align: center;
    }

    th:hover {
      cursor: default;
    }

    tr.regular:nth-child(even) {
      background-color: rgb(249, 249, 249);
    }

    tr.regular:nth-child(odd) {
      background-color: rgb(255, 255, 255);
    }

    tr.regular {
      border-bottom: 1px solid rgb(221, 221, 221);
      text-align: center;
    }

    tr.regular:hover {
      background-color: rgb(67, 67, 67);
      color: rgb(254, 254, 254);
      cursor: pointer;
    }

    tr#no_changesets {
      background-color: transparent;
    }

    tr#no_changesets:hover {
      cursor: default;
    }

  </style>
{% endblock %}
