/* top header is fixed*/
body {
    padding-top: 65px;
}


.wb-map-wrap {
    position: relative;
    display: block;
    min-width: 260px;
    height: 400px;
    width: 100%;
   z-index: 100;
}

.wb-div-icon-marker {
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    background: red;
    z-index: 1000;
}


.legend {
    position: relative;
    max-width: 200px;
    float: right;
    height: 365px;
    overflow-y: auto;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 50px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

.toolTip ul li{
    list-style-type: None;
    text-align: left;
}
