/* top header is fixed*/
body {
    padding-top: 65px;
}

.wb-map-wrap {
    position: relative;
    display: block;
    min-width: 260px;
    height: 474px;
    width: 100%;
   z-index: 100;
}

.wb-chart-wrap {
    position: relative;
    display: block;
    min-width: 100px;
    width: 100%;
   z-index: 100;
}

.wb-div-icon-marker {
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    background: red;
    z-index: 1000;
}

/*

bootstrap panels overwrite

*/
.wb-content .panel .panel-body{
    padding: 0.5em;
}
.wb-pagination-block {
    display: block;
    width: 100%;
    padding: 0.2em 0.5em;
}
.wb-pagination-block .page-nmbr {
    display: inline-block;
    position: relative;
    min-width: 24px;
}

/*Style with css*/
.map-marker{
  text-align: center;
  position: absolute;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  width: 32px;
  height: 32px;
  line-height: 32PX;
  font-size: 30px;
  font-family: 'FontAwesome';
}


.map-marker.functioning-yes {
    color: green;
}
.map-marker.functioning-no {
    color: red;
}
.map-marker.functioning-unknown {
    color: grey;
}
/* Style background*/
/*.map-marker.marker-color-gray {background: lightgray;}*/

.marker-cluster {
    background-color: rgba(50, 128, 241, 0.6);
    background-clip: padding-box;
    border-radius: 20px;
}
.marker-cluster div {
	background-color: rgba(21, 35, 240, 0.44);
    width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
	line-height: 30px;
    color: ghostwhite;
}

g.clear-btn-group rect {
    fill: #fefefe;
}

g.clear-btn-group text {
    font-size: 12px;
    fill: #333;
    text-anchor: middle;
}

g.clear-btn-group:hover {
    cursor: pointer;
}

g.clear-btn-group:hover rect{
   fill: #333;
}

g.clear-btn-group:hover text{
   fill: #fefefe;
}
