<div id="event_dashboard" class="panel panel-primary">
    <div class="panel-heading panel-heading-without-padding">
        <h4>
            <a id="hide_toogle"
               href="javascript:void(0)"
               class="btn btn-fab btn-raised glyphicon glyphicon-chevron-left toogle-button"
               onclick="toggle_side_panel()"></a>
            Assessment Dashboard
                <span class="reset-graph-button"
                      id="reset_all">reset all</span>
        </h4>
    </div>
    <div class="panel-body">
        <div class="graph-boxes">
            <div id="alert_box" class="graph-box">
                <div class="half">
                    <span id="num_hs" class="number">0</span><br/>
                    <span id="num_hs_hs" class="label">total healthsites</span>
                </div>
                <div class="half">
                    <span id="num_events" class="number">0</span><br/>
                    <span id="num_as_as" class="label">assessed healthsites</span>
                </div>
            </div>
            <div class="graph-box">
                <h3>By overall assessment <span class="reset-graph-button"
                                                id="overall_assessment_chart_reset">reset</span></h3>
                <div class="graph-box-inner">
                    <div align="center" class="chart-section" id="overall_assessment_chart">
                    </div>

                </div>
            </div>
            <div class="graph-box">
                <h3>By country
                    <span class="reset-graph-button" id="country_chart_reset">reset</span>
                </h3>
                <div class="graph-box-inner">
                    <div class="chart-section" id="country_chart">
                    </div>
                </div>
            </div>
            <div class="graph-box">
                <h3>By datacaptor
                    <span class="reset-graph-button" id="data_captor_chart_reset">reset</span>
                </h3>
                <div class="graph-box-inner">
                    <div class="chart-section" id="data_captor_chart">
                    </div>
                </div>
            </div>

        </div><!-- .graph-boxes -->

        <div class="search-box">
            <form id="search-hs">
                <select id="search-option" name="option">
                    <option value="healthsites">Healthsites</option>
                    <option value="assessment">Assessment</option>
                    <option value="place">Place</option>
                </select>
                <input id="search-box" class="ui-autocomplete-input" type="search"
                       placeholder="search the healthsite by name" name="q" autocomplete="off">
                <input type="submit" value="search">
            </form>
        </div>

        <div id="time_option" class="white section">
            <h3>Select reporting period (UTC):<span class="reset-graph-button"
                                                    id="timeline_chart_reset">reset</span></h3>
            <div id="visualization"></div>
            <div style="float: none"></div>
            <div id="time"></div>
        </div>
    </div>
</div>

<div class="panel panel-primary" id="event_detail" hidden="hidden">
    <div class="panel-heading panel-heading-without-padding">
        <h4>
            <a id="back_button"
               href="javascript:void(0)"
               class="btn btn-fab btn-raised glyphicon glyphicon-chevron-left toogle-button"
               onclick="show_dashboard()"></a>
            Assessment Detail
            <a id="download-assessment-excell"
               style="display: none"
               href=""
               class="btn btn-fab btn-raised glyphicon glyphicon-download-alt" download>excell</a>
            <a id="download-assessment-csv"
               style="display: none"
               href=""
               class="btn btn-fab btn-raised glyphicon glyphicon-download-alt" download>csv</a>
        </h4>
    </div>
    <div class="panel-body event-detail">
        <table class="table table-condensed">
            <tbody id="detail-table">
            </tbody>
        </table>
        <div id="overall-assessments-timeline" style="display: none; height: 200px; width: 100%">
            </br>
            <h4>Overal Assessment Timeline</h4>
            <div id="overall-assessments-timeline-chart" class="dc-chart" style="height: 100%; width: 100%"></div>
        </div>
    </div>
</div>