{% extends "event_mapper/base.html" %}
{% block other_import %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
{% endblock %}
{% block header %}
    <script>
        $(document).ready(function () {
            {% if user.is_authenticated %}
                {% if user.north %}
                    var context = {
                        'bounds': [
                            [{{ user.south }}, {{ user.west }}],
                            [{{ user.north }}, {{ user.east }}]]
                    };
                    show_map(context);
                {% else %}
                    show_map();
                {% endif %}
            {% else %}
                show_map();
            {% endif %}
            set_offset();

            map.on('moveend', function (e) {
                console.log('Map moved');
                show_event_markers();
            });
            $('#nav_home').addClass("active");
            show_event_markers();
        });
    </script>
{% endblock header %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {# side panel #}
            <div class="col-lg-4" id="side_panel">
                <div class="bs-component">
                    {% include "event_mapper/event/event_dashboard.html" %}
                </div>
            </div>
            {# map #}
            <div class="col-lg-8" style="margin:0; padding:0;">
                {% include "event_mapper/map.html" %}
            </div>
            {# end side panel #}
        </div>
        {# show hide toggle #}
        <a id="show_hide"
           style="position:absolute; left: 0px; bottom: 50px; background-color: firebrick"
           href="javascript:void(0)"
           class="btn btn-fab btn-raised glyphicon glyphicon-chevron-right"
           onclick="toggle_side_panel()"></a>
    </div>
{% endblock content %}
