{% extends "event_mapper/base.html" %}
{% block other_import %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
{% endblock %}
{% block header %}
    <script>
        $(document).ready(function () {
            // create a dataset with items
            // we specify the type of the fields `start` and `end` here to be strings
            // containing an ISO date. The fields will be outputted as ISO dates
            // automatically getting data from the DataSet via items.get().
            var items = new vis.DataSet({
                type: {start: 'ISODate', end: 'ISODate'}
            });
            // ---------------------------------------------------------------------------------
            // SLIDER TIME SECTION
            // ---------------------------------------------------------------------------------
            // add items to the DataSet
            var nowDate = new Date()
            var end_date = nowDate.getUTCFullYear() + "-" + (nowDate.getUTCMonth() + 1) + "-" + nowDate.getUTCDate();

            var startDate = new Date(nowDate.getTime() - (30 * 24 * 60 * 60 * 1000)); // 3 month before
            var start_date = startDate.getUTCFullYear() + "-" + (startDate.getUTCMonth() + 1) + "-" + startDate.getUTCDate();

            // add time to vis
            items.add([
                {
                    id: 1,
                    content: 'reporting period',
                    start: start_date,
                    end: end_date
                }
            ]);

            // log changes to the console
            items.on('update', function (event, properties) {
                get_event_markers(items);
            });

            var container = document.getElementById('visualization');
            var options = {
                //// allow manipulation of items
                editable: {
                    add: false,
                    updateTime: true,
                    updateGroup: false,
                    remove: false
                },
                //timeAxis: {scale: 'day'},
                //showMinorLabels: false,
                onMoving: function (item, callback) {
                    updatePeriodReport(item.start, item.end);
                    if (item.content != null) {
                        callback(item); // send back adjusted item
                    }
                    else {
                        callback(null); // cancel updating the item
                    }
                }
            };

            {% if user.is_authenticated %}
                {% if user.north %}
                    var context = {
                        'bounds': [
                            [{{ user.south }}, {{ user.west }}],
                            [{{ user.north }}, {{ user.east }}]]
                    };
                    show_map(context);
                {% else %}
                    show_map();
                {% endif %}
            {% else %}
                show_map();
            {% endif %}
            set_offset();

            map.on('moveend', function (e) {
                get_healthsites_markers();
                get_event_markers(items);
            });
            $('#nav_home').addClass("active");

            new vis.Timeline(container, items, options);
            item = items.get(1);
            updatePeriodReport(item.start, item.end);

            get_healthsites_markers();
            get_event_markers(items);

            // checkbox onchange
            $(':checkbox').change(function () {
                if ($(this).attr('id') == "healthsites-filter") {
                    if (checkbox_healthsites_is_checked()) {
                        show_healthsites_markers();
                    } else {
                        hide_healthsites_markers();
                    }
                } else if ($(this).attr('id') == "event-filter") {
                    if (checkbox_event_is_checked()) {
                        show_event_markers();
                    } else {
                        hide_event_markers();
                    }
                }
            });
        });

        function updatePeriodReport(start, end) {
            var monthNames = [
                "January", "February", "March",
                "April", "May", "June", "July",
                "August", "September", "October",
                "November", "December"
            ];
            start = new Date(start);
            end = new Date(end);
            var startDay = start.getDate();
            var startMonthIndex = start.getMonth();
            var startYear = start.getFullYear();
            var endDay = end.getDate();
            var endMonthIndex = end.getMonth();
            var endYear = end.getFullYear();

            var startStr = startDay + ' ' + monthNames[startMonthIndex] + ' ' + startYear;
            var endStr = endDay + ' ' + monthNames[endMonthIndex] + ' ' + endYear;
            var time = document.getElementById('time');
            document.getElementById('time').innerHTML = "<i>Period selected: <b>" + startStr + "</b> - <b>" + endStr + "</b></i>";
        }
    </script>
{% endblock header %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {# side panel #}
            <div class="col-lg-4" id="side_panel">
                <div class="bs-component">
                    {% include "event_mapper/event/event_dashboard.html" %}
                </div>
            </div>
            {# map #}
            <div class="col-lg-8" style="margin:0; padding:0;">
                {% include "event_mapper/map.html" %}
            </div>
            {# end side panel #}
        </div>
        {# show hide toggle #}
        <a id="show_hide"
           style="position:absolute; left: 0px; bottom: 50px; background-color: firebrick"
           href="javascript:void(0)"
           class="btn btn-fab btn-raised glyphicon glyphicon-chevron-right"
           onclick="toggle_side_panel()"></a>
    </div>
{% endblock content %}
