{% extends "event_mapper/base.html" %}
{% block other_import %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dc/1.7.5/dc.min.css" rel="stylesheet"/>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/1.7.5/dc.min.js"></script>
{% endblock %}

{% block other_import_after %}
    <script type="text/javascript" src="/static/event_mapper/js/dc.timeline.js"></script>
{% endblock %}
{% block header %}
    <script>
        $(document).ready(function () {
            {% if user.is_authenticated %}
                {% if user.north %}
                    var context = {
                        'bounds': [
                            [{{ user.south }}, {{ user.west }}],
                            [{{ user.north }}, {{ user.east }}]]
                    };
                    show_map(context);
                {% else %}
                    show_map();
                {% endif %}
            {% else %}
                show_map();
            {% endif %}
            set_offset();
            $('#nav_home').addClass("active");
            dateFormat = d3.time.format('%d-%m-%Y, %H:%M');
            map.on('moveend', function (e) {
                get_healthsites_markers();
                get_event_markers();
            });

            map.on('click', function (e) {
                map_clicked();
            });
            markers_control = new L.Control.Command().addTo(map);

            get_healthsites_markers();
            get_event_markers();

            // fill the number of healthsites
            $("#num_hs").html("{{ healthsites_num }}");

            // search autocomplete
            $("#search-box").autocomplete({
                source: function (request, response) {
                    $("#search-box").css("cursor", "wait");
                    $.ajax({
                        url: '/healthsites/names',
                        dataType: 'json',
                        data: {
                            q: request.term
                        },
                        success: function (data) {
                            response(data);
                            $("#search-box").css("cursor", "");
                        },
                        error: function (request, error) {
                            $("#search-box").css("cursor", "");
                        },
                    });
                },
                minLength: 3,
                select: function (event, ui) {

                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            });

            // submit
            $("#search-hs").submit(function (event) {
                $("#search-box").css("cursor", "wait");
                event.preventDefault();
                if ($("#search-box").val().length >= 3) {
                    $.ajax({
                        url: '/healthsites/search-name',
                        dataType: 'json',
                        data: {
                            q: $("#search-box").val()
                        },
                        success: function (data) {
                            map.setView(data.geom, map.getMaxZoom());
                            $("#search-box").css("cursor", "");
                        },
                        error: function (request, error) {
                            $("#search-box").css("cursor", "");
                        },
                    });
                }
            });
            $(".reset-graph-button").click(function (evt) {
                if ($(evt.target).attr('id') == "overall_assessment_chart_reset") {
                    reset_graph(assessment_chart);
                } else if ($(evt.target).attr('id') == "type_chart_reset") {
                    reset_graph(type_chart);
                } else if ($(evt.target).attr('id') == "data_captor_chart_reset") {
                    reset_graph(datacaptor_chart);
                }
            });
        });
        $(window).resize(function () {
            set_offset();
        });
    </script>
{% endblock header %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {# side panel #}
            <div class="col-lg-5" id="side_panel">
                <div class="bs-component">
                    {% include "event_mapper/event/event_dashboard.html" %}
                </div>
            </div>
            {# map #}
            <div class="col-lg-7" style="margin:0; padding:0;">
                {% include "event_mapper/map.html" %}
            </div>
            {# end side panel #}
        </div>
        {# show hide toggle #}
        <a id="show_hide"
           style="position:absolute; left: 0px; bottom: 50px;"
           href="javascript:void(0)"
           class="btn btn-fab btn-raised glyphicon glyphicon-chevron-left"
           onclick="toggle_side_panel()"></a>
    </div>
{% endblock content %}
