<div id="event_dashboard" class="panel panel-primary">
    <div class="panel-heading">
        <h4>Assessment Dashboard</h4>
    </div>
    <div class="panel-body">
        <div class="white section" id="alert_box">
            <div>
                <h3><span id="num_events_events">Total alerts :</span> <span id="num_events"
                                                                            style="margin-left: 5px">0</span></h3>
            </div>
        </div>
        <div class="grey section">
            <h3>Assessment Category</h3>

            <div align="center">
                <canvas style="width: 200px; height: 200px;" id="incident_type_chart" width="200" height="200"></canvas>
            </div>
        </div>

        <div id="time_option" class="white section">
            <h3>Select reporting period (UTC):</h3>
            <div id="visualization"></div>
            <div id="time"></div>
        </div>
    </div>
</div>

<div class="panel panel-primary" id="event_detail" hidden="hidden">
    <div class="panel-heading">
        <h4>Event Detail</h4>
    </div>
    <div class="panel-body">
        <table class="table table-condensed">
            <tbody>
            <tr>
                <td>Category</td>
                <td><b id="event_detail_category"></b></td>
            </tr>
            <tr>
                <td>Place name</td>
                <td><b id="event_detail_place_name"></b></td>
            </tr>
            <tr>
                <td>Assessment Date Time</td>
                <td><b id="event_detail_date_time"></b></td>
            </tr>
            <tr>
                <td>Assessment Type</td>
                <td><b id="event_detail_type"></b></td>
            </tr>
            <tr>
                <td>Assessor</td>
                <td><b id="event_detail_perpetrator"></b></td>
            </tr>
            <tr>
                <td>Assessor Organization</td>
                <td><b id="event_detail_victim"></b></td>
            </tr>
            <tr>
                <td>Metric 1</td>
                <td><b id="event_detail_killed"></b></td>
            </tr>
            <tr>
                <td>Metric 2</td>
                <td><b id="event_detail_injured"></b></td>
            </tr>
            <tr>
                <td>Metric 3</td>
                <td><b id="event_detail_detained"></b></td>
            </tr>
            <tr>
                <td>Source</td>
                <td><b id="event_detail_source"></b></td>
            </tr>
            <tr>
                <td>Reported By</td>
                <td><b id="event_detail_reported_by"></b></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
