<div id="event_dashboard" class="panel panel-primary">
    <div class="panel-heading">
        <h4>Assessment Dashboard</h4>        
    </div>
    <div class="panel-body">
      <div class="graph-boxes">
        <div id="alert_box" class="graph-box">
           <div class="half">
            <span id="num_hs" class="number">0</span><br/>
            <span id="num_hs_hs" class="label">total<br/>healthsites</span>
           </div> 
           <div class="half">
            <span id="num_events" class="number">0</span><br/>
            <span id="num_as_as" class="label">assessed<br/>healthsites</span> 
           </div>  
        </div>
        <div class="graph-box">
            <h3>By overall assessment</h3>
            <div align="center">
                
            </div>
        </div>
        <div class="graph-box">
            <h3>By type</h3>
            <div align="center">
                <canvas style="width: 150px; height: 150px;" id="incident_type_chart" width="150" height="150"></canvas>
            </div>
        </div>
        <div class="graph-box">
            <h3>By datacaptor</h3>
            <div align="center">
                
            </div>
        </div>

      </div><!-- .graph-boxes -->
      
      <div class="search-box">
        <form id="search-hs">
         <input id="search-box" class="ui-autocomplete-input" type="search" placeholder="search the healthsite by name" name="q" autocomplete="off">   
         <input type="submit" value="search">
        </form>
      </div>
  
        <div id="time_option" class="white section">
            <h3>Select reporting period (UTC):</h3>
            <div id="visualization"></div>
            <div id="time"></div>
        </div>
    </div>
</div>

<div class="panel panel-primary" id="event_detail" hidden="hidden">
    <div class="panel-heading">
        <h4>Event Detail</h4>
    </div>
    <div class="panel-body">
        <table class="table table-condensed">
            <tbody>
            <tr>
                <td>Category</td>
                <td><b id="event_detail_category"></b></td>
            </tr>
            <tr>
                <td>Place name</td>
                <td><b id="event_detail_place_name"></b></td>
            </tr>
            <tr>
                <td>Assessment Date Time</td>
                <td><b id="event_detail_date_time"></b></td>
            </tr>
            <tr>
                <td>Assessment Type</td>
                <td><b id="event_detail_type"></b></td>
            </tr>
            <tr>
                <td>Assessor</td>
                <td><b id="event_detail_perpetrator"></b></td>
            </tr>
            <tr>
                <td>Assessor Organization</td>
                <td><b id="event_detail_victim"></b></td>
            </tr>
            <tr>
                <td>Metric 1</td>
                <td><b id="event_detail_killed"></b></td>
            </tr>
            <tr>
                <td>Metric 2</td>
                <td><b id="event_detail_injured"></b></td>
            </tr>
            <tr>
                <td>Metric 3</td>
                <td><b id="event_detail_detained"></b></td>
            </tr>
            <tr>
                <td>Source</td>
                <td><b id="event_detail_source"></b></td>
            </tr>
            <tr>
                <td>Reported By</td>
                <td><b id="event_detail_reported_by"></b></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
