{% extends "base.html" %}
{% load pipeline %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            {# side panel #}
            <div class="col-lg-5" id="side_panel">
                <div class="bs-component">
                    {% if not report_list%}
                      <div class="panel panel-primary">
                        <div class="panel-heading panel-heading-title">
                          UPLOAD FILE
                        </div>
                          <div class="panel-body user-profile">
                            {% include "upload_file/upload_file_form.html" %}
                          </div>
                      </div>
                    {% endif %}

                    {% if report_list %}
                        <div class="panel panel-primary">
                            <div class="panel-heading panel-heading-title">
                              INSERT DATA IN DATABASE
                            </div>
                            <div class="panel-body user-profile">
                                <br>
                                {% if report_list.0 == 1 %}
                                  <b>One</b> row is going to be inserted.<br>
                                {% else %}
                                  <b>{{ report_list.0 }}</b> rows are going to be inserted.<br>
                                {% endif %}

                                {% if report_list.1 == 1 %}
                                  <b>One</b> row is going to be updated.<br>
                                {% else %}
                                  <b>{{ report_list.1 }}</b> rows are going to be updated.<br>
                                {% endif %}

                                {% if report_list.2 == 0 %}
                                {% else %}
                                  {% if report_list.2 == 1 %}
                                    <b>One</b> row has been discarded.<br>
                                  {% else %}
                                    <b>{{ report_list.2 }}</b> rows have been discarded.<br>
                                  {% endif %}
                                {% endif %}

                                {% if report_list.3 == 0 %}
                                {% else %}
                                  {% if report_list.3 == 1 %}
                                    <b>One</b> row is unchanged.<br>
                                  {% else %}
                                    <b>{{ report_list.3 }}</b> rows are unchanged.<br>
                                  {% endif %}
                                {% endif %}

                                {% if report_list.4 == 0 %}
                                {% else %}
                                  {% if report_list.4 == 1 %}
                                    <b>One</b> row has error(s).<br>
                                  {% else %}
                                    <b>{{ report_list.4 }}</b> rows have error(s).
                                  {% endif %}
                                {% endif %}

                               {% include "upload_file/insert_data_form.html" %}
                            </div>
                        </div>

                      {% if report_list.2 > 0 %}
                        {{ discarded_msg }}
                        <br><br>
                      {% endif %}

                      {% if report_list.4 > 0 %}
                        <b><span style="color:red;">Errors:</span></b><br>

                        {% for item in errors %}
                          {{ item }}<br>
                        {% endfor %}
                      {% endif %}
                    {% endif %}

                    {% if stop_error %}
                      <b><span style="color:red;" >Error:</span></b>
                      {{ stop_error_msg|safe }}
                    {% endif %}

                </div>
            </div>
            {# end side panel #}
        </div>
    </div>
{% endblock %}
