<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>


  {% for item in file_state_list %}
    {% if item.1 == 'u' %}
      File uploaded and analysed on {{ item.0 }}
      <br><br>

      {% if item.2|length > 0 %}
        During analysis of uploaded file following <b>errors</b> were found:<br>
        {{ item.2|safe }}
      {% endif %}

      {% if item.5|length > 0 %}
        <br>
        During analysis of uploaded file following <b>warnings</b> were found:<br>
        {{ item.5|safe }}
      {% endif %}

      {% if item.2|length == 0 and item.5|length == 0 %}
        No errors were found during analysis of uploaded file.
      {% endif %}

        {% if file_state_list|length == 1 %}
          {% if item.3.0 > 0 or item.3.1 > 0 %}
            <br>Data from uploaded file have not been added in database.<br>

             {% if item.3.0 > 0 %}
               Rows that can be added: {{ item.3.0 }}<br>
             {% endif %}

             {% if item.3.1 > 0 %}
               Rows that can be added: {{ item.3.1 }}<br>
             {% endif %}


             {% if  item.3.0 > 0 or item.3.1 > 0 %}
               <a href="/insert_data/{{ item.4 }}" class="btn btn-primary">Import</a>
             {% endif %}

          {% elif item.3.0 == 0 or item.3.1 == 0 %}
            <br>There aren't rows for insert or update in this file.

          {% endif %}
        {% endif %}

    {% elif item.1 == 'i' %}
      <br>Data from uploaded file were inserted in database on {{ item.0 }}<br>
      {% if item.3.0 == 1 %}
       1 row was added.<br>
     {% elif item.3.0 > 1 %}
       {{ item.3.0 }} rows were added.<br>
     {% endif %}

     {% if item.3.1 == 1 %}
       1 row was updated.<br>
     {% elif item.3.1 > 1 %}
       {{ item.3.1 }} rows were updated.<br>
     {% endif %}
    {% endif %}
  {% endfor %}
</body>
</html>
