
.feature-create-wrap .wb-map-wrap{
    height: 600px;
}

#featureMapWrap .map-marker {
    color: #A72B1F;
}

.panel-body.change-password {
    padding: 20px;
}


circle.dot {
    fill-opacity: 1 !important;
}


.error-msg {
    color: #A72B1F;
}

