{% extends "features/features-base.html" %}
{% load pipeline %}

{% block content %}
    <style>
        .map-marker {
            text-align: center;
            position: absolute;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: center;
            color: #fff;
            width: 32px;
            height: 32px;
            line-height: 32PX;
            font-size: 30px;
            font-family: 'FontAwesome';
            color: blue;
        }



    .wb-map-wrap{
        height: 600px;
    }
    </style>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="featureMapWrap" class='wb-map-wrap'></div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="formWrap" class='wb-form-wrap'>

                        {% include 'attributes/create_feature_form.html' %}

                    </div>
                </div>
            </div>
        </div>

    {#  right side end#}
    </div>



{% endblock %}

{% block extra_js %}
    <script>
        var featuresForm = new SimpleForm({
            formId: 'feature-create-form',
            is_disabled: false,
            btnHidden: false,
            updateBtnSelector: '#create_button',
            updateCb: function (formData, formInstance) {
                formInstance.formDomObj.submit();
            },
        });

        WB.storage.setItem('featuresForm', featuresForm);

        // Leaflet Map
        var mapConf = WB.storage.getItem('defaultMapConf');

        const {leafletMap} = ashowMap({
            mapId: 'featureMapWrap',
            mapConf: Object.assign({}, mapConf, {zoom: 12})
        });

        const {_latitude, _longitude} = featuresForm.getFormFieldValues(['_latitude', '_longitude']);

        var markerGeometry;

        if (_longitude && _latitude) {
            markerGeometry = {
                  lon: _longitude,
                  lat: _latitude
              };
        } else {
            markerGeometry = {lon: 38.3, lat: 14.3};

            featuresForm.setFormFieldValues({
                _longitude: markerGeometry.lon,
                _latitude: markerGeometry.lat,
            });
        }


        var featureMarker = addMarkerToMap({
            geometry: markerGeometry,
            leafletMap,
            data: {},
            draggable: true,
            zoomToMarker: true
        });

        // zoom to marker

        WB.storage.setItem('featureMapWrap', leafletMap);
        WB.storage.setItem('featureMarker', featureMarker);
        // Accordion

        $("#formWrap #data-accordion").accordion({
            heightStyle: "content",
            header: "div > h3"
        });

    </script>
{% endblock %}
