{% extends "features/features-base.html" %}
{% load pipeline %}

{% block page-title %}
  <title>Create Feature</title>
{% endblock %}

{% block content %}

  <div class="feature-create-wrap">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="featureMapWrap" class='wb-map-wrap'></div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 ">

        <div class="panel panel-default accordion-resizer">
          <div class="panel-body">
            <div id="formWrap" class='wb-form-wrap'>

              {% include 'attributes/create_feature_form.html' %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}

{% block extra_js %}
  <script>
    WB.init.initCreateFeature();
  </script>
{% endblock %}
