{% extends "features/features-base.html" %}
{% load pipeline %}

{% block content %}

  <div class="feature-create-wrap">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="featureMapWrap" class='wb-map-wrap'></div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 ">

        <div class="panel panel-default accordion-resizer">
          <div class="panel-body">
            <div id="formWrap" class='wb-form-wrap'>

              {% include 'attributes/create_feature_form.html' %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}

{% block extra_js %}
  <script>
    WB.FeatureForm = new SimpleForm({
      formId: 'feature-create-form',
      parentId: 'formWrap',
      isEnabled: true,
      isBtnVisible: true,
      submitBtnSelector: '#create_button',
      onSubmit: function (formData, formInstance) {
        formInstance.formDomObj.submit();
      },
      accordionConf: {
        selector: '#data-accordion',
        opts: {
          heightStyle: "content",
          header: "div > h3"
        }
      }
    });

    // Leaflet Map

    var coords = WB.FeatureForm.getFormFieldValues(['_latitude', '_longitude']);

    var markerGeometry;

    if (coords._longitude && coords._latitude) {
      markerGeometry = {
        lon: coords._longitude,
        lat: coords._latitude
      };
    } else {
      markerGeometry = {lon: 38.3, lat: 14.3};

      WB.FeatureForm.setFormFieldValues({
        _longitude: markerGeometry.lon,
        _latitude: markerGeometry.lat
      });
    }


    // setup
    WB.mapInstance = wbMap()
      .layerConf(TILELAYER_DEFINITIONS)
      .leafletConf({
        zoom: 12,
        editable: true
      }, 'MapBox')
      .markerRenderer(createFeatureByUUidMarker)
      .initMapSearch({
        parentId: 'geo-search-wrap'
      })
      .markerData([{
        geometry: markerGeometry,
        data: {},
        draggable: true,
        zoomToMarker: true
      }]);

    // init
    WB.mapInstance('featureMapWrap');

    // add markers
    WB.mapInstance.renderMarkers({});

  </script>
{% endblock %}
