{% load pipeline %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block page-title %}
      <title>Feature</title>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

    {% stylesheet 'contrib' %}
    {% stylesheet 'dashboards' %}
    {% stylesheet 'features' %}
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js"></script>
    {% javascript 'contrib' %}
</head>

<body>

    {% block navigation-bar %}
        {% include "navigation_bar.html" %}
    {% endblock %}


<div id="content" class="wb-content">
    {% block content %}
    {% endblock %}
</div>

    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}

    {% javascript 'dashboards' %}
    {% javascript 'featuredetail' %}
    {% block extra_js%}
    {% endblock %}
</body>
</html>
