{% extends "features/features-base.html" %}
{% load pipeline %}

{% block content %}

  <div class="row">
    {#    left side #}
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          {# chart#}

          <div class="panel panel-default">
            <div class="panel-body">
              <div id="chartWrap-static" class='wb-line-chart'></div>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          {# chart#}

          <div class="panel panel-default">
            <div class="panel-body">
              <div id="chartWrap-yield" class='wb-line-chart'></div>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          {#        chart#}

          <div class="panel panel-default">

            <div class="panel-body">
              <div id="featureMapWrap" class='wb-map-wrap'></div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-sm-6">

      <div class="panel panel-default">
        <div class="panel-body">
          <div id="formWrap" class='wb-form-wrap'>

            <div class="wb-form-action-buttons">
              <button title="Enable or Disable Attribute Form Edit"
                    class="btn btn-primary btn-xs" id="toggle-update-form">
              Enable edit
            </button>
            </div>

            {% include 'attributes/update_feature_form.html' %}

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">

        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div id='history-table-wrap' class='wb-form-wrap'>
                <table id="history-table" class="display" width="100%">

                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {#  right side end#}
  </div>



  <!-- History Modal -->
<div class="modal fade wb-modal-form" id="wb-history-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block extra_js %}
  <script>

  // TODO combine all init functions
      var WB = (function (module) {
        if (!module.controller) {
          module.controller = {};
        }

            // init module and set options
      module.notif = WB.SimpleNotification()
        .options({
          message: null,
          type: 'success',
          fadeOut: {
            delay: Math.floor(Math.random() * 500) + 2500,
            enabled: true
          }
        });

      // init notification
      module.notif();


        return module;

      }(WB || {}));


    var featureData = {{ featureData | safe }};
    var featureHistoryData = {{ feature_history | safe }};

    // LINE CHARTS
    var chart_yield = lineChart({
      data: {{ feature_attribute_data_yield | safe }},
      parentId: 'chartWrap-yield',
      title: 'Yield',
      svgClass: 'wb-line-chart',
      height: 250,
      yLabel: 'Yield',
      labelField: 'ts',
      valueField: 'value'
    });

    var chart_static = lineChart({
      data: {{ feature_attribute_data_static | safe }},
      parentId: 'chartWrap-static',
      svgClass: 'wb-line-chart',
      height: 250,
      yLabel: 'Water Level',
      labelField: 'ts',
      valueField: 'value'
    });

    // charts on resize
    d3.select(window).on('resize', _.debounce(function () {
      chart_yield.resize();
      chart_static.resize();
    }, 250));


    // MAP

    // setup map
    WB.mapInstance = wbMap({})
      .layerConf(TILELAYER_DEFINITIONS)
      .leafletConf({
        zoom: 12,
        editable: true
      }, 'MapBox')
      .markerRenderer(createFeatureByUUidMarker)
      .initMapSearch({
        parentId: 'geo-search-wrap'
      })
      .markerData([{
        geometry: {
          lon: featureData._geometry[0],
          lat: featureData._geometry[1]
        },
        data: featureData,
        draggable: false,
        zoomToMarker: true
      }]);

    // init map
    WB.mapInstance('featureMapWrap');

    WB.mapInstance.renderMarkers({});


    // FEATURE FORM



    WB.FeatureForm = new SimpleForm({
      formId: 'add_even_form',
      parentId: 'formWrap',
      submitBtnSelector: '#update_button',
      isBtnVisible: false,
      onSubmit: function (formData) {
        WB.api.axUpdateFeature({
          data: WB.utils.removeBlacklistedPropsFromObject({
            flatObj: formData
          })
        });
      },
      isEnabled: false,
      accordionConf: {
        selector: '#data-accordion',
        opts: {
          heightStyle: "content",
          header: "div > h3"
        }
      }
    });

    // toggle-update-form

    var formToggleBtn = document.getElementById('toggle-update-form');

    WB.utils.addEvent(formToggleBtn, 'click', function (e) {

      var label, style;

      var markers = WB.mapInstance.markerLayer().getLayers();

      var lastMarker = markers[markers.length - 1];


      if (WB.FeatureForm.enableForm()) {
        style = true;
        label = 'Enable edit';

        lastMarker.dragging.enable();
      } else {
        style = false;
        label = 'Disable edit';

        lastMarker.dragging.disable();
      }

      WB.FeatureForm.showUpdateButton(style);

      // change button label
      this.innerHTML = label;

    });

    // Init Modal Class
    WB.modal = new WB.Modal({});

    // History Table

    var options = {
      dataTable: {
        data: featureHistoryData,
        fixedHeader: true,
        searching: false,
        columns: [{
          data: 'ts',
          title: 'Last update',
          orderable: true,
          render: timestampColumnRenderer
        }, {
          data: 'email',
          title: 'User',
          orderable: true
        }, {
          data: 'static_water_level',
          title: 'SWL',
          orderable: true
        }, {
          data: 'yield',
          title: 'YLD',
          orderable: true
        }],
        order: [[0, "desc"]],
        lengthMenu: TABLE_ROWS_PER_PAGE_SMALL,
        rowClickCb: function (row) {

          var key = (row.feature_uuid_id.split('_') || []);

          axGetFeatureChangesetByUUID({
            featureUUID: key[0],
            changesetId: key[1]
          });
        },

      },
      modalOpts: {
        title: 'History Data',
        modalOnOpenCb: function (data) {

          initAccordion({
            selector: '#wb-dialog div#data-accordion',
            opts: {
              heightStyle: "content",
              header: "div > h3"
            }
          });
          var modalDomObj = data.modalObj;

          $(modalDomObj).find('fieldset').attr({disabled: true});

          $(modalDomObj).find('#update_button').hide();
        }
      }
    };

    // This instance has a modal attached to self (some vals are hardcoded)
    // Todo update
    WB.historytable = WB.tableReports.init('history-table', options);
  </script>
{% endblock %}
