{% load pipeline %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feature</title>
    {% stylesheet 'contrib' %}
    {% stylesheet 'dashboards' %}
    {% stylesheet 'features' %}
    {% javascript 'contrib' %}
</head>

<body>

    {% block navigation-bar %}
        {% include "navigation_bar.html" %}
    {% endblock %}


<div id="content" class="wb-content">
    {% block content %}
    {% endblock %}
</div>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    {% javascript 'dashboards' %}
    {% javascript 'featuredetail' %}
    {% block extra_js%}
    {% endblock %}
</body>
</html>
