{% extends "features/features-base.html" %}
{% load pipeline %}

{% block content %}


    <div class="row">
        {#    left side #}
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    {# chart#}

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="chartWrap-static" class='wb-line-chart'></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    {# chart#}

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="chartWrap-yield" class='wb-line-chart'></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    {#        chart#}

                    <div class="panel panel-default">

                        <div class="panel-body">
                            <div id="featureMapWrap" class='wb-map-wrap'></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                        <div class="panel-header-button">
                            <button class="btn btn-xs" id="toggle-update-form">Enable edit
                            </button>
                        </div>


                </div>
                <div class="panel-body">
                    <div id="formWrap" class='wb-form-wrap'>

                        {% include 'attributes/update_feature_form.html' %}

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id='history-table-wrap' class='wb-form-wrap'>
                                <table id="history-table" class="display" width="100%">

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#  right side end#}
    </div>



{% endblock %}

{% block extra_js %}
    <script>

        // padding: 0 1em 0;

        var featureData = {{ featureData | safe }};
        var featureHistoryData = {{ feature_history | safe }};


        var chart_yield = lineChart({
            data: {{ feature_attribute_data_yield | safe }},
            parentId: 'chartWrap-yield',
            title: 'Yield',
            svgClass: 'pie',
            height: 250,
            yLabel: 'Yield'
        });

        var chart_static = lineChart({
            data: {{ feature_attribute_data_static | safe }},
            parentId: 'chartWrap-static',
            svgClass: 'pie',
            height: 250,
            yLabel: 'Water Level'
        });

        var resize = WB.utils.debounce(function() {
            chart_yield.resize();
            chart_static.resize();
        }, 250);

        d3.select(window).on('resize', resize);

        // Leaflet Map

        var mapConf = WB.storage.getItem('defaultMapConf');

        mapConf.zoom = 12;

        var mapInstance = ashowMap({
            mapId: 'featureMapWrap',
            mapConf: mapConf
        });
        var leafletMap = mapInstance.leafletMap;

        var featureMarker = addMarkerToMap({
            geometry: {
                lon: featureData._geometry[0],
                lat: featureData._geometry[1]
            },
            leafletMap: leafletMap,
            data: featureData,
            draggable: false,
            zoomToMarker: true
        });

        // zoom to marker

        WB.storage.setItem('featureMapWrap', leafletMap);

        WB.storage.setItem('featureMarker', featureMarker);
        // Accordion

        $("#formWrap #data-accordion").accordion({
            heightStyle: "content",
            header: "div > h3"
        });



        function featureUpdateSuccessCb (result) {

            // TODO: this is a simple way of 'refreshing' data after a successful data update
            window.location.reload(true);
        };

        // TODO refactor this
        function errCB (request) {
            // self.showModalForm(request.responseText)
            $('#add_even_form').remove();

            var modalDomObj = $(request.responseText);

             $('#formWrap').html(modalDomObj);

            var accordion = initAccordion({
                selector: '#formWrap div#data-accordion',
                opts: {
                    heightStyle: "content",
                    header: "div > h3"
                }
            });

            $(modalDomObj).find('#add_button').hide();

            let featuresForm = WB.storage.getItem('featuresForm');

            featuresForm.init();

            // TODO handle disable later
            $(modalDomObj).find('fieldset').attr({disabled: false});

        };

        var updateCb = function (formData) {
            axUpdateFeature({
                data: WB.utils.removeBlacklistedPropsFromObject({
                    flatObj: formData
                }),
                successCb: featureUpdateSuccessCb,
                errCb: errCB
            });
        };

        var featuresForm = new SimpleForm({
            formId: 'add_even_form',
            updateBtnSelector: '#update_button',
            btnHidden: true,
            updateCb: function (formData) {
                updateCb(formData);
            },

          //   data: featureData,
            is_disabled: true
        });

        WB.storage.setItem('featuresForm', featuresForm);


        // toggle-update-form
        var formToggleBtn = document.getElementById('toggle-update-form');

        WB.utils.addEvent(formToggleBtn, 'click', function (e) {

            var is_disbled = featuresForm.toggleForm();

            if (is_disbled) {
                featuresForm.setStyles(true);
                this.innerHTML = 'Enable edit';

                featureMarker.dragging.disable();
            } else {
                featuresForm.setStyles(false);
                this.innerHTML = 'Disable edit';

                featureMarker.dragging.enable();
            }
        });

        // Init Modal Class
        WB.modal = WB.modal ? WB.modal : new WB.Modal({});

        // History Table

// moment('2017-11-06T23:00:00+00:00', 'YYYY-MM-DDTHH:mm:ssZ').format('DD-MM-YYYY HH:mm')
        var options = {
            dataTable: {
                data: featureHistoryData,
                fixedHeader: true,
                searching: false,
                columns: [{
                    data: 'ts',
                    title: 'Last update',
                    orderable: true,
                    render: function ( data, type, row, meta ) {
                        return moment(data, 'YYYY-MM-DDTHH:mm:ssZ').format('YYYY-MM-DD HH:mm');
                     }
                }, {
                    data: 'email',
                    title: 'User',
                    orderable: true
                }, {
                    data: 'static_water_level',
                    title: 'SWL',
                    orderable: true
                }, {
                    data: 'yield',
                    title: 'YLD',
                    orderable: true
                }],
                order: [[0, "desc"]],
                lengthMenu: [[20, 50, 100, -1], [20, 50, 100, "All"]],
                rowClickCb: function (row) {

                    var key = (row.feature_uuid_id.split('_') || []);
                    axGetFeatureChangesetByUUID({
                        featureUUID: key[0],
                        changesetId: key[1],
                        successCb: function (data) {
                            WB.historytable.showModalForm(data);
                        }
                    });
                },

            },
            modalOpts: {
                modalOnOpenCb: function (data) {

                    var accordion = initAccordion({
                        selector: '#wb-dialog div#data-accordion',
                        opts: {
                            heightStyle: "content",
                            header: "div > h3"
                        }
                    });
                    var modalDomObj = data.modalObj;

                    $(modalDomObj).find('fieldset').attr({disabled: true});

                    $(modalDomObj).find('#update_button').hide();
                }
            }
        };

        // This instance has a modal attached to self (some vals are hardcoded)
        // Todo update
        WB.historytable = WB.tableReports.init('history-table', options);
    </script>
{% endblock %}
