{% extends "features/features-base.html" %}
{% load pipeline %}

{% block page-title %}
      <title>Feature - {{ feature_uuid }}</title>
    {% endblock %}

{% block content %}

  <div class="row">

    {#    left side #}
    <div class="col-sm-6">

          <div class="row">
      <div class="col-sm-12">

        <div class="panel panel-default">

          <div class="panel-body">
            <div id="featureMapWrap" class='wb-map-wrap'></div>
          </div>
        </div>

      </div>
    </div>


      <div class="row">
        <div class="col-sm-12">
          {# chart#}

          <div class="panel panel-default">
            <div class="panel-body">
              <div id="chartWrap-static" class='wb-line-chart'></div>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          {# chart#}

          <div class="panel panel-default">
            <div class="panel-body">
              <div id="chartWrap-yield" class='wb-line-chart'></div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="col-sm-6">

      <div class="panel panel-default">
        <div class="panel-body">
          <div id="formWrap" class='wb-form-wrap'>

            <div class="wb-form-action-buttons">
              <button title="Enable or Disable Attribute Form Edit"
                      class="btn btn-primary btn-xs" id="toggle-update-form">
                Enable edit
              </button>
            </div>

            {% include 'attributes/update_feature_form.html' %}

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">

        <div class="panel-body">

          <div style="text-align: right;">
            <a class="btn btn-primary btn-xs" href="/difference_viewer/{{ feature_uuid }}/">
              Compare changesets
            </a>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div id='history-table-wrap' class='wb-form-wrap'>
                <table id="history-table" class="display" width="100%">

                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {#  right side end#}
  </div>



  <!-- History Modal -->
  <div class="modal fade wb-modal-form" id="wb-history-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block extra_js %}
  <script>
    WB.init.initUpdateFeature(
      {{ featureData | safe }},
      {{ feature_history | safe }},
      {{ feature_attribute_data_yield | safe }},
      {{ feature_attribute_data_static | safe }}
    );
  </script>
{% endblock %}
