{% extends "dashboards/dashboard-base.html" %}
{% load pipeline %}

{% block content %}
    <style>
        #horizontalBar .bar {
            fill: #6F257F;
        }

        #horizontalBar .axis path,
        #horizontalBar .axis line {
            fill: none;
            stroke: #D4D8DA;
            stroke-width: 1px;
            shape-rendering: crispEdges;
        }

        #horizontalBar .x path {
            display: none;
        }

/*Style with css*/
.map-marker{
  text-align: center;
  position: absolute;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  width: 32px;
  height: 32px;
  line-height: 32PX;
  font-size: 30px;
  font-family: 'FontAwesome';
}


.map-marker.functioning-yes {
    color: green;
}
.map-marker.functioning-no {
    color: red;
}
.map-marker.functioning-unknown {
    color: grey;
}
/* Style background*/
/*.map-marker.marker-color-gray {background: lightgray;}*/

    </style>

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-header-button">
                            <button class="btn btn-xs" id="tabiya-reset-button">Reset
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="tabiaBarChart" class="wb-chart-wrap"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="functioningPieChart" class="wb-chart-wrap"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div id="featureMapWrap" class='wb-map-wrap'></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div id="amountOfDepositedRangeChart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div id="fencingBarChartByFencing"></div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="waterCommiteeBarChart"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default">
                     <div class="panel-body">
                        <div id="fundedByChart"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="staticWaterLevelChart"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="panel panel-default">
                     <div class="panel-body">
                        <div id="yieldChart"></div>
                    </div>
                </div>
            </div>

        </div>


    </div>



{% endblock %}

{% block extra_js %}
    <script>




const OTHER_KEYS = ['mapData'];

const BAR_CHARTS = [
    'tabia',
    'yieldRange',
    'fencingCnt',
    'fundedByCnt',
    'waterCommiteeCnt',
    'staticWaterLevelRange',
    'amountOfDepositedRange'
];
const PIE_KEYS = [
    'functioningDataCnt'
];

const CHART_KEYS = [
    ...BAR_CHARTS, ...PIE_KEYS
];

const chartDataKeys = [...OTHER_KEYS, ...CHART_KEYS];

// TODO should be dynamic
// Group definitions for charts which show aggregated range data (yes, no etc)
const rangeGroups = {
    yieldRange: {
        1: {
            label: 'No Data',
            values: []
        },
        2: {
            label: '> 0 and < 1',
            values: []
        },
        3: {
            label: '1> 0 AND yield < 3',
            values: []
        },
        4: {
            label: '>= 3 and < 6',
            values: []
        },
        5: {
            label: '>= 6',
            values: []
        }
    },
    staticWaterLevel: {
        1: {
            label: 'No Data',
            values: []
        },
        2: {
            label: '> 0 and < 1',
            values: []
        },
        3: {
            label: '1> 0 AND yield < 3',
            values: []
        },
        4: {
            label: '>= 3 and < 6',
            values: []
        },
        5: {
            label: '>= 6',
            values: []
        }
    },
    amountOfDeposited: {
        '5': {label: '>= 5000'},
        '4': {label: '>= 3000 and < 5000'},
        '3': {label: '>= 500 and < 3000'},
        '2': {label: '> 1  and < 500'},
        '1': {label: '=< 1'
    }
}
}
    const dashboarData =  JSON.parse("{{ dashboard_chart_data | escapejs }}");

    // TODO review adding grouping info. Add that info to query instead only ids?
    dashboarData.yieldRange = dashboarData.yieldRange.map(
        (i)=> Object.assign({}, i, {group: _.get(rangeGroups.yieldRange, `${i.group_id}.label`, '-')})
    );

    dashboarData.staticWaterLevelRange = dashboarData.staticWaterLevelRange.map(
        (i)=> Object.assign({}, i, {group: _.get(rangeGroups.staticWaterLevel, `${i.group_id}.label`, '-')})
    );

    dashboarData.amountOfDepositedRange = dashboarData.amountOfDepositedRange.map(
        (i)=> Object.assign({}, i, {group: _.get(rangeGroups.amountOfDeposited, `${i.group_id}.label`, '-')})
    );


    renderDashboardCharts(chartDataKeys, dashboarData);

    const filterKeys = ['tabiya', 'fencing_exists', 'functioning', 'funded_by', 'water_committe_exist', 'static_water_level', 'amount_of_deposited', 'yield'];

    WB.DashboardFilter = WB.storage.setItem('dashboardFilters', new DashboardFilter({
        filterKeys
    }));


    // MAP

    var leafletMap = WB.storage.setItem('leafletMap', showMap({
        mapId: 'featureMapWrap',
        tileLayerDef: {
          externalLayers: {
            bingLayer: {
              label: 'Bing Layer',
              key: 'AuhiCJHlGzhg93IqUH_oCpl_-ZUrIE6SPftlyGYUvr9Amx5nzA-WqGcPquyFZl4L',
            }
          },
          withUrl: {
            mapbox: {
              label: 'MapBox',
              mapOpts: {
                url: 'https://api.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoicmFrc2hhayIsImEiOiJ5cHhqeHlRIn0.Vi87VjI1cKbl1lhOn95Lpw',
                options: {
                  attribution: '© <a href="https://www.mapbox.com/feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }
              }
            },
            googleSatLayer: {
              label: 'Google Satellite',
              mapOpts: {
                url: 'http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',
                options: {
                  maxZoom: 20,
                  subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
                }
              }

            }
          }
        },
        mapOnMoveEndHandler: (e) => handleChartEvents({
            origEvent: e,
            reset: false
        })
    }));

    // Create and Add markers to Map

    var featureMarkers = WB.storage.setItem('featureMarkers', createMarkersOnLayer({
        markersData: dashboarData.mapData || [],
        addToMap: true,
        iconIdentifierKey: 'functioning',
        leafletMap
    }));

    $('#tabiya-reset-button').on('click', function (e) {
        handleChartEvents({
            origEvent: e,
            reset: true
        });
    });







    d3.select(window).on('resize', () => {
        resizeCharts(CHART_KEYS);
    });
    </script>
{% endblock %}
