{% extends "dashboards/dashboard-base.html" %}
{% load pipeline %}

{% block content %}

  <div class="container-fluid">


    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-primary btn-sm" id="tabiya-reset-button">
          Reset
        </button>
      </div>
      <div class="col-sm-6">
        <div id="geo-search-wrap" class="geo-search-wrap"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div  id="beneficiariesChart">

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">


        <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-body">
                <div id="tabiaBarChart" class="wb-chart-wrap"></div>

                <div class="wb-pagination-block">
                  <button id="tabia-previous" class="btn btn-primary btn-xs">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  </button>

                  <button id="tabia-next" class="btn btn-primary btn-xs">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </button>
                </div>


              </div>
            </div>
          </div>

          <div class="col-sm-6">

            <div class="panel panel-default">
              <div class="panel-body">
                <div id="fundedByChart"></div>

                <div class="wb-pagination-block">
                  <button id="fundedBy-previous" class="btn btn-primary btn-xs">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  </button>

                  <button id="fundedBy-next" class="btn btn-primary btn-xs">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>


        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
              <div class="panel-body">
                <div id="waterCommiteeBarChart"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
              <div class="panel-body">
                <div id="fencingBarChartByFencing"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-6">

        <div class="panel panel-default">
          <div class="panel-body">
            <div id="featureMapWrap" class='wb-map-wrap'></div>
          </div>
        </div>

      </div>
    </div>


    <div class="row">
      <div class="col-sm-6 col-md-3">

        <div class="panel panel-default">
          <div class="panel-body">
            <div id="functioningPieChart" class="wb-chart-wrap"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="amountOfDepositedRangeChart"></div>
          </div>
        </div>
      </div>


      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="staticWaterLevelChart"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="yieldChart"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="table-reports-wrap" class="table-reports-wrap">
      <table id="reports-table" class="display" width="100%">
        <thead class="thead-inverse"></thead>
      </table>
    </div>
  </div>



{% endblock %}

{% block extra_js %}
  <script>
    // TODO REFACTOR / UNIFY / NAMESPACE GUIDELINE
    // general flow:

    // on init initial data is exported to the page context
    // range chart data needs to be updated with range groups labels
    // render all charts from chart config
    // render map with markers
    // render table
    // init dashboard filters
    // charts are used as multiselect filters
    // filter is set on bar / pie slice click
    // filter is removed on already clicked bar / pie slice
    // clicked chart will freeze and will not be updated with new data
    // reset all button will reset all filters and fetch new data
    // map on dragend will fetch new data and update all charts (selected chart filters will stay selected)

    var WB = (function (module) {
      if (!module.controller) {
        module.controller = {};
      }

      var dashboards = new DashboardController({
        chartConfigs: CHART_CONFIGS,
        tableConfig: TABLE_DATA_CONFIG,
        mapConfig: MAP_CONFIGS,
        dashboarData: JSON.parse("{{ dashboard_chart_data | escapejs }}")
      });

      module.controller = dashboards;

      return module;

    }(WB || {}));

    // Main Dashboard Page Controller
  </script>
{% endblock %}
