{% extends "dashboards/dashboard-base.html" %}
{% load pipeline %}

{% block content %}
    <style>
        #horizontalBar .bar {
            fill: #6F257F;
        }

        #horizontalBar .axis path,
        #horizontalBar .axis line {
            fill: none;
            stroke: #D4D8DA;
            stroke-width: 1px;
            shape-rendering: crispEdges;
        }

        #horizontalBar .x path {
            display: none;
        }

/*Style with css*/
.map-marker{
  text-align: center;
  position: absolute;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  width: 32px;
  height: 32px;
  line-height: 32PX;
  font-size: 30px;
  font-family: 'FontAwesome';
}


.map-marker.functioning-yes {
    color: green;
}
.map-marker.functioning-no {
    color: red;
}
.map-marker.functioning-unknown {
    color: grey;
}
/* Style background*/
/*.map-marker.marker-color-gray {background: lightgray;}*/

    </style>

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-header-button">
                            <button class="btn btn-xs" id="tabiya-reset-button">Reset
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="tabyiaBarChart"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id=""></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div id="featureMapWrap" class='wb-map-wrap'></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div id="fencingBarChartByTabyia"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div id="fencingBarChartByFencing"></div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="amountOfDepositedRangeChart"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="functioningPieChart"></div>
                    </div>
                </div>
            </div>

        </div>




        <div class="row">
            <div class="col-sm-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Groups</h3>
                    </div>
                    <div class="panel-body">
                        <div id="groupsCnt"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Items</h3>
                    </div>
                    <div class="panel-body">
                        <div id="itemsCnt"></div>
                    </div>
                </div>
            </div>

        </div>


    </div>



{% endblock %}

{% block extra_js %}
    <script>
    var dashboarData =  JSON.parse("{{ dashboard_chart_data | escapejs }}");
        /**
         * Globals in storage WB.storage.getItem():
         * leafletMap
         * featureMarkers
         * tabyiaChart
         *
         * */
        /**
         * Tabyia Chart - bar click handler
         *
         * Fetch data for clicked tabyia and add markers to map
         * @param d
         */
        const tabyiaBarOnClickHandler = (d) => {
             WB.storage.setItem('tabiya', d.group);
            return axGetTabyiaData({
            data: {
                tabiya: d.group,
                coord: getCoordFromMapBounds(WB.storage.getItem('leafletMap'))
            },
            successCb: function (data) { // TODO - add some diffing
                console.log(data);
                const chartData = JSON.parse(data.dashboard_chart_data);
                (WB.storage.getItem('tabyiaChart')).updateChart(chartData.tabiya || []);
                (WB.storage.getItem('amountOfDepositedRangeChart')).updateChart(chartData.amountOfDeposited || []);
                (WB.storage.getItem('fencingChart')).updateChart(chartData.fencingCnt || []);

                WB.storage.setItem('featureMarkers', createMarkersOnLayer({
                    markersData: chartData.mapData,
                    clearLayer: true,
                    iconIdentifierKey: 'functioning',
                    layerGroup: WB.storage.getItem('featureMarkers')
                }));
            }
        })};



        const DEFAULT_CHART_HEIGHT = 400;

        /**
         * Map on drag end callback
         * Fetch data for current map bounds
         * @param e
         */
        const mapOnMoveEnd = (e, reset) => {
            if (reset === true) {
                WB.storage.setItem('tabiya')
            }
            return axGetTabyiaData({
                data: {
                    coord: getCoordFromMapBounds(WB.storage.getItem('leafletMap')),
                    tabiya: reset === true ? null : (WB.storage.getItem('tabiya') || null)
                },
                successCb: function (data) {

                    const chartData = JSON.parse(data.dashboard_chart_data);

                    console.log(data);
                    (WB.storage.getItem('tabyiaChart')).updateChart(chartData.tabiya || []);
                    //functioningData
                    (WB.storage.getItem('amountOfDepositedRangeChart')).updateChart(chartData.amountOfDeposited || []);
                    (WB.storage.getItem('fencingChart')).updateChart(chartData.fencingCnt || []);

                    WB.storage.setItem('featureMarkers', createMarkersOnLayer({
                        markersData: chartData.mapData,
                        clearLayer: true,
                        iconIdentifierKey: 'functioning',
                        layerGroup: WB.storage.getItem('featureMarkers')
                    }));

                }
            });
        };
{#var schemetypeChart = donutChart({#}
{#            data: schemetype_cnt,#}
{#            parentId: 'schemetypeChartWrap',#}
{#            svgClass: 'pie'#}
{#        });#}
        const CHART_CONFIGS = {
            tabyiaChart: {
                data: dashboarData.tabiya || [],
                parentId: 'tabyiaBarChart',
                height: DEFAULT_CHART_HEIGHT * 2,
                valueField: 'cnt',
                labelField: 'group',
                title: 'Tabyia',
                chartType: 'horizontalBar',
                barClickHandler: tabyiaBarOnClickHandler,
                tooltipRenderer: (d) => `<ul>
                            <li>Count: ${d.cnt}</li>
                            <li>Group: ${d.group}</li>
                            <li>Beneficiaries: ${d.beneficiaries}</li>
                            </ul>`
            },
            fencingChart: { //fencingCnt
                data: dashboarData.fencingCnt || [],
                parentId: 'fencingBarChartByFencing',
                height: 400,
                valueField: 'cnt',
                labelField: 'fencing',
                title: 'Fencing by Fencing',
                chartType: 'horizontalBar',
                barClickHandler: (e) => {console.log(e);},
                tooltipRenderer: (d) => `<ul>
                            <li>Count: ${d.cnt}</li>
                            <li>Fencing: ${d.group}</li>
                            </ul>`
            },
            amountOfDepositedRangeChart: {
                data: dashboarData.amountOfDeposited || [],
                parentId: 'amountOfDepositedRangeChart',
                height: 400,
                valueField: 'cnt',
                labelField: 'group',
                title: 'Amount of Deposited',
                chartType: 'horizontalBar',
                barClickHandler: (e) => {console.log(e);},
                tooltipRenderer: (d) => `<ul>
                            <li>Count: ${d.cnt}</li>
                            <li>Min: ${d.min}</li>
                            <li>Max: ${d.max}</li>
                            <li>Range: ${d.group}</li>
                            </ul>`
            },
            functioningPie: {
                data: dashboarData.functioningData || [],
                parentId: 'functioningPieChart',
                height: 400,
                valueField: 'cnt',
                chartType: 'donut',
                labelField: 'group',

            },

        };

        // amount_of_deposited_range amountOfDepositedRangeChart
        const chartsToRender = ['tabyiaChart', 'fencingChart', 'amountOfDepositedRangeChart', 'functioningPie'];

        chartsToRender.forEach((chartName) => {

            if(CHART_CONFIGS[chartName]) {
                switch (CHART_CONFIGS[chartName].chartType) {
                    case 'horizontalBar':
                        return WB.storage.setItem(
                            `${chartName}`, barChartHorizontal(CHART_CONFIGS[chartName])
                        );
                    case 'donut':
                        WB.storage.setItem(
                            `${chartName}`, donutChart(CHART_CONFIGS[chartName])
                        )
                    default:
                        return false;
                }
            }


        }  );



        var leafletMap = WB.storage.setItem('leafletMap', showMap({
            mapId: 'featureMapWrap',
            mapOnMoveEndHandler: mapOnMoveEnd
        }));

        // Create and Add markers to Map

        var featureMarkers = WB.storage.setItem('featureMarkers', createMarkersOnLayer({
            markersData: dashboarData.mapData || [],
            addToMap: true,
            iconIdentifierKey: 'functioning',
            leafletMap
        }));

        $('#tabiya-reset-button').on('click', function (e) {
            mapOnMoveEnd(e, true);
        });

    </script>
{% endblock %}
