Django>=2.1,<2.2
django-redis==4.9.0
psycopg2-binary==2.7.5
pytz
raven==6.9.0
django-forms-bootstrap==3.1.0
django-leaflet==0.24.0
fiona==1.7.13
xlsxlite==0.2.0
uwsgi==2.0.17.1
openpyxl==2.4.9
python-dateutil==2.7.3
django-minio-storage==0.2.2

# candidates for removal
django-pipeline>=1.6,<1.7
