Django>=1.7,<1.8
psycopg2==2.6.2
pytz
django-pipeline>1.4,<1.6
raven==5.23.0
django-forms-bootstrap==3.0.1
Markdown==2.6.6
Pillow==3.3.0
Celery>=3.1.0,<3.2.0
xhtml2pdf==0.0.6
requests==2.10.0
googlemaps==2.4.4
openpyxl==2.3.5
html5lib==1.0.1
